button {
  font-family: 'Roboto', sans-serif;
}

.primary-actions {
  margin: 16px;

  button {
    font-size: 28px;
    padding: 8px 16px;
  }
}

.action-btn {
  color: #fff !important;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  background-color: #53b6bf;
  border-radius: 2px;
  border: none;
  margin: 2px;
  font-size: 18px;
  padding: 4px 8px;
  font-weight: 500;
  user-select: none;
  -webkit-transition: background-color 0.2s ease-in-out;

  &.small {
    font-size: 14px;
    padding: 2px 6px;
    vertical-align: middle;
  }

  &:hover {
    background-color: #4d5e6b !important;
  }

  &.red {
    background-color: red;
  }

  &.green {
    background-color: green;
  }

  &.small {
    font-size: 12px;
    padding: 4px 6px;
  }

  &.disabled {
    background-color: #555 !important;
    cursor: default;
  }
}

h2, h3 {
  button {
    margin-left: 4px;
  }
}

.glyph-button {
  font-size: 14px;
  border: none;
  background: none;

  &:focus {
    outline: none;
  }

  &.disabled {
    color: #888;
  }

  &:hover:not(.disabled) {
    background: #eee;
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0 5px;
  }
}