

form {
  .section-title {
    display: block;
    vertical-align: top;
    font-size: 22px;
    font-weight: 500;
  }

  section {
    display: block;
    margin-top: 15px;
    margin-left: 30px;
    margin-bottom: 30px;

    .subsection {
      display: block;
      margin-bottom: 15px;
      margin-top: 15px;

      span, input {
        display: inline-block;
        vertical-align: middle;
      }

      span.action-box {
        font-size: 16px;
      }

      .fa {
        margin-left: 2px;
        cursor: pointer;
      }
    }
  }

  .input-label {
    display: inline-block;
    min-width: 180px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
}

.action-button-container {
  margin-top: 16px;
  text-align: center;

  .action-box {
    margin: 1px;
  }
}

input.invalid {
  outline: 5px auto rgba(255,0,0,0.75);
  outline-offset: -2px;
}

.checkbox-list {
  list-style: none;
  padding-left: 10px;
  text-align: left;

  li {
    -webkit-user-select: none;
  }
}
