<label class="flex">
    <span class="input-label">Value</span>
    <select ng-model="filter.compareType">
        <option>Signature</option>
        <option>Editor ID</option>
        <option>Name</option>
    </select>
    <input type="text" ng-model="filter.value" placeholder="{{filter.placeholders[filter.compareType]}}" />
</label>
<div class="filter-options" ng-show="filter.compareType !== 'Signature'">
    <label>
        <input type="checkbox" ng-model="filter.ignoreCase"/>
        Ignore case
    </label>
</div>
