autocomplete-input {
  position: relative;

  .dropdown {
    position: absolute;
    z-index: 5;
    padding: 2px 0;
    background-color: $background;
    border: 1px solid $medium_border;
    user-select: none;

    > span {
      display: block;
      padding: 2px 6px;
    }

    .dropdown-item {
      padding: 2px 12px;

      &.selected {
        background-color: $selected;
      }
    }
  }
}