.angular-color-picker {
  background: inherit !important;
  border: none !important;

  &:focus {
    outline: none;
  }
}

color-input {
  div.color-sample {
    height: 21px;
    width: 30px;
    display: inline-block;
    border: 1px solid $hard_border;
    border-right: none;
  }

  input[type="text"] {
    width: 150px;
  }

  .color-input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
  }
}
