dropdown, dropover {
  position: relative;

  dropdown-display {
    cursor: pointer;
  }

  .dropdown-items {
    position: absolute;
    z-index: 10;
    background-color: $background;
    border: 1px solid $medium_border;
    text-align: left;
    padding: 2px 0;
    font-size: 14px;
    font-weight: normal;
    min-width: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    &:focus {
      outline: none;
    }

    .dropdown-item {
      padding: 2px 12px;
      width: 100%;

      &.selected {
        background-color: $selected;
      }
    }
  }

  .remove-item {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 3px;
    z-index: 1;
  }
}

dropdown.combobox {
  dropdown-display {
    padding: 2px 4px;
    display: block;
    border: 1px solid $hard_border;
    border-radius: 3px;
    cursor: default;

    @include dropdown-triangle(8px);

    input {
      border: none;
    }
  }

  .dropdown-items {
    max-height: 300px;
    overflow-y: auto;
  }
}

dropdown.material {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;

  dropdown-display {
    padding-left: 4px;
    padding-right: 35px;
    border-bottom: 2px solid $soft_font_color;
    display: block;
    text-align: left;

    .fa {
      position: absolute;
      right: 6px;
      top: 10px;
    }
  }

  .dropdown-items {
    max-height: 300px;
    overflow-y: auto;
    font-size: inherit;
  }
}
