dropdown {
  position: relative;
  user-select: none;

  dropdown-display {
    cursor: pointer;
  }

  .dropdown-items {
    position: absolute;
    z-index: 5;
    background-color: $background;
    border: 1px solid $medium_border;
    text-align: left;
    padding: 2px 0;
    font-size: 14px;

    &:focus {
      outline: none;
    }

    .dropdown-item {
      padding: 2px 12px;

      &.selected {
        background-color: $selected;
      }
    }
  }
}