edit-value-modal {
  .modal-container .modal {
    max-width: 450px;

    &.vtFlags {
      margin: 75px auto;
    }

    &.vtText {
      max-width: 600px;
    }
  }

  h2 .path {
    font-size: 12px;
    font-weight: normal;
    margin-top: 4px;
  }

  input {
    width: 100%;
  }

  textarea {
    width: 100%;
    min-height: 150px;
  }

  .checkbox-list {
    .selected {
      background-color: #e5f2ff;
    }

    input {
      width: initial;
    }
  }

  .color-sample {
    width: 50px;
    height: 19px;
    position: absolute;
    margin: 1px;
  }

  .angular-color-picker {
    margin: 10px auto;
    display: block;
    width: 282px;

    > ._variations > ._whites > ._blacks > ._cursor {
      width: 12px;
      height: 12px;
      border: 2px solid #fff;
      box-shadow: 0 0 5px -1px;
      border-radius: 6px;
    }

    > ._hues > ._cursor {
      left: -3px;
      width: 34px;
    }
  }

  .color-input-container {
    width: 200px;
    margin: 0 auto;

    input {
      padding-left: 52px;
    }
  }
}