error-resolutions {
  max-width: 490px;
  text-align: left;

  .action {
    min-width: 240px;
    text-align: left;
    color: $font_color !important;
    background: none !important;

    &.selected, &:hover {
      color: $inverse_font_color !important;

      &.positive {
        background: $positive !important;
      }

      &.neutral {
        background: $neutral !important;
      }

      &.negative {
        background: $negative !important;
      }
    }
  }
}
