.grid-nodes {
  display: block;
  padding-bottom: 4px;
  flex: 1;

  &:focus {
    outline: none;
  }

  .node {
    display: flex;
    white-space: nowrap;
    height: 20px;

    &.selected {
      background-color: $selected;
    }

    .placeholder {
      padding-left: 22px;
    }

    .column {
      text-overflow: ellipsis;
      overflow: hidden;
      padding: 2px 6px;
      border-right: 1px solid $soft_border;
      border-top: 1px solid $soft_border;
    }
  }

  .vs-repeat-after-content {
    border-top: 1px solid $soft_border;
    margin-bottom: 20px;
  }
}
