list-view {
  text-align: left;
  display: block;

  &.scrollable {
    .list-items {
      padding: 15px;
      overflow-y: auto;
    }
  }

  .list-item {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &.dragging {
      opacity: 0.5;
    }

    &.insert-after {
      padding-bottom: 20px;
    }

    &.insert-before {
      padding-top: 20px;
    }

    &.selected {
      background-color: $selected;
    }
  }

  .list-items.dragging .list-item * {
    pointer-events: none;
  }

  .placeholder {
    min-height: 20px;
    color: $soft_font_color;
  }

  .filter-container {
    padding: 8px 10px;
    border-top: 1px solid $medium_border;

    input[type="text"] {
      margin-left: 4px;
      min-width: 250px;
    }
  }
}
