list-view {
  text-align: left;

  .list-item {
    &.dragging {
      opacity: 0.5;
    }

    &.insert-after {
      padding-bottom: 20px;
    }

    &.insert-before {
      padding-top: 20px;
    }

    &.selected {
      background-color: $selected;
    }
  }

  .placeholder {
    min-height: 20px;
    color: $soft_font_color;
  }
}