load-order-modal {
  li.selected {
    background-color: #E0F0FF;
  }

  li.dragging {
    opacity: 0.5;
  }

  li.insert-after {
    padding-bottom: 20px;
  }

  li.insert-before {
    padding-top: 20px;
  }
}
