.nodes {
  display: block;
  padding-bottom: 4px;
  flex: 1;

  &:focus {
    outline: none;
  }

  .node {
    display: flex;
    white-space: nowrap;
    height: 20px;

    &.selected {
      background-color: $selected;
    }

    .expand-node {
      margin-right: 8px;
      display: inline-block;
      font: 14px FontAwesome;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      position: relative;
      color: $font_color;

      &::before {
        content: ' ';
        width: 9px;
        height: 9px;
        display: block;
        position: absolute;
        top: 2px;
        right: 1px;
        background: $background;
      }

      &.expanded::after {
        content: "\f147";
        position: relative;
      }

      &.collapsed::after {
        content: "\f196";
        position: relative;
      }
    }

    .placeholder {
      padding-left: 22px;
    }

    .column {
      text-overflow: ellipsis;
      overflow: hidden;
      padding: 2px 6px;
      border-right: 1px solid $soft_border;
      border-top: 1px solid $soft_border;
    }
  }

  .vs-repeat-after-content {
    border-top: 1px solid $soft_border;
    margin-bottom: 20px;
  }
}
