rule-tree {
  .nodes .vs-repeat-after-content {
    border: none;
    margin: 0;
  }

  .node .icons {
    font: 16px FontAwesome;

    .deletions-icon::before {
      color: $negative;
      content: '\f056';
    }

    .entity-icon {
      background: $secondary_action;
      font: 14px sans-serif;
      border-radius: 50%;
      width: 15px;
      font-weight: bold;
      display: inline-block;
      text-align: center;
      height: 15px;
      box-shadow: 0 0 4px $secondary_action;

      &::before {
        content: '1';
      }
    }

    .group-icon::before {
      content: '\f0c1';
    }

    .priority-icon::before {
      color: $neutral;
      content: '\f069';
    }
  }
}
