rule-tree {
  .children {
    padding-left: 25px;
  }

  .item {
    display: flex;
    align-items: center;
    margin: 2px 0;
  }

  .placeholder {
    padding-left: 16px;
  }

  input[type="checkbox"] {
    margin: 3px 5px 3px 6px;
  }
}
