search-bar {
  display: flex;
  margin-top: -24px;
  margin-bottom: 24px;
  padding: 3px 2px;
  border-bottom: 1px solid #aaa;
  align-items: center;

  input[type="text"] {
    margin-left: 2px;
    padding: 1px 3px;
    border-radius: 5px;
    border: 1px solid #aaa;

    &:focus {
      outline: none;
      box-shadow: 0 0 2px dodgerblue;
      border-color: dodgerblue;
    }
  }

  > button {
    border: none;
    background: none;
    color: dodgerblue;

    &.disabled {
      color: #888;
    }

    &:hover:not(.disabled) {
      background: #eee;
      border: 1px solid #aaa;
      border-radius: 4px;
      padding: 1px 5px;
    }
  }

  .previous-result {
    margin-left: 4px;
  }

  .next-result {
    margin-right: 8px;
  }

  > label {
    padding: 0 4px;
  }

  > select {
    min-width: 85px;
  }

  .close-bar {
    flex-grow: 1;
    text-align: right;
    padding-right: 4px;

    > span {
      cursor: pointer;
    }
  }
}