.big-spinner {
  height: 250px;
}

.spinner.default {
  > div > div {
    background: $font_color !important;
  }
}

.spinner.inverse {
  > div > div {
    background: $action_font_color !important;
  }
}
