.automate-modal {
  .modal-container {
    .modal {
      max-width: 800px;
      padding: 20px;
    }
  }

  .select-script-container {
    display: flex;
    align-items: center;

    > span {
      text-align: left;
      margin-right: 10px;
    }

    > button {
      font-size: 16px;
      padding: 4px 6px;
    }

    .sort-dropdown {
      margin: 0 6px;
      min-height: 26px;

      dropdown-contents {
        left: -2px;
      }

      .dropdown-item {
        width: 130px;
      }
    }

    .scripts-dropdown {
      flex: 1;

      dropdown-contents {
        left: -2px;
      }
    }

    .fa {
      font-size: 20px;
    }
  }

  .CodeMirror {
    text-align: left;
    border: 1px solid $medium_border;
    margin-top: 10px;
    height: 350px;
  }
}
