.viewport {
  height: 100%;

  > pane {
    height: 100%;
  }
}

.pane-container {
  display: flex;
  height: 100%;

  &.horizontal {
    flex-direction: row;

    > split-bar {
      width: 5px;
      margin: 0 -2px;
      cursor: col-resize;

      .bar {
        border-left: 1px solid $hard_border;
        height: 100%;
      }
    }

    > pane {
      height: 100%;
    }
  }

  &.vertical {
    flex-direction: column;

    > split-bar {
      height: 5px;
      margin: -2px 0;
      cursor: row-resize;

      .bar {
        border-top: 1px solid $hard_border;
        width: 100%;
        position: absolute;
        left: 0;
        top: 2px;
      }
    }
  }

  pane:last-of-type {
    flex: 1;
  }
}

pane {
  display: block;
  min-width: 140px;
  min-height: 100px;
  max-height: 100%;
  max-width: 100%;
}

split-bar {
  position: relative;
  z-index: 1;

  .bar {
    display: inline-block;
    cursor: inherit;
  }
}

.tabs-container {
  height: 100%;

  &:focus {
    outline: none;
  }

  .tabs-bar {
    display: flex;
    font-size: 14px;
    line-height: 22px;
    height: 25px;
    margin-bottom: 5px;
    overflow-x: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    .tab {
      display: flex;
      justify-content: space-between;
      min-width: 120px;
      max-width: 200px;
      border-bottom: 1px solid $hard_border;
      border-right: 1px solid $hard_border;
      background-color: $medium_soft_border;

      .label {
        display: inline-block;
        padding-top: 2px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
      }

      .icon {
        font: 18px/1 FontAwesome;
        display: inline-block;
        vertical-align: middle;
        margin-left: 6px;
        margin-right: 2px;
      }

      .close-tab {
        cursor: pointer;
        float: right;
        margin: 2px 4px;
        padding: 1px;
        color: $negative;
        line-height: initial;
      }

      &.active {
        border-bottom: 1px solid $background;
        margin-bottom: -1px;
        background-color: $background;
      }
    }

    .add-tab {
      padding: 2px 8px 2px 6px;
      flex: 1;
      text-align: left;
      border-bottom: 1px solid $hard_border;

      span {
        cursor: pointer;
      }
    }
  }

  .tab-view {
    height: calc(100% - 29px);
    display: flex;
    flex-direction: column;
    position: relative;
  }
}

.message-container {
  display: flex;
  position: absolute;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: center;
  padding: 40px;

  .pane-message {
    text-align: center;
    font-size: 20px;
  }
}

.loading-message {
  display: block;
  margin-top: 30px;
  font-size: 22px;
}
