.cache-container {
  border: 1px solid #aaa;
  padding: 6px;

  .cache-item {
    border-top: 1px solid #aaa;
    position: relative;
    padding: 10px 4px;

    &:first-of-type {
      border-top: none;
    }

    .delete-item {
      position: absolute;
      top: 10px;
      right: 4px;

      .action-box {
        font-size: 12px;
      }
    }

    .filename {
      font-size: 20px;
      padding-bottom: 6px;
    }
  }

  .cache-files-table {
    td, th {
      padding-right: 10px;
      font-size: 14px;
    }
  }
}
