.record-tree-view {
  text-align: left;
  font-size: 13px;
  overflow: hidden;
  user-select: none;
  padding-top: 24px;

  .tree-nodes {
    min-width: 300px;
    overflow: scroll;

    .element-unassigned {
      color: #aaa;
    }
  }

  .expand-all-nodes {
    right: 20px;

    &::before {
      content: "\f0fe";
    }
  }

  .collapse-all-nodes {
    padding-left: 4px;

    &::before {
      content: "\f146";
    }
  }
}

.node {
  .column:hover {
    .action-buttons {
      opacity: 1.0;
    }
  }

  .action-buttons {
    opacity: 0;
    -webkit-transition: opacity 0.1s ease-in-out;
    margin-left: -4px;

    .add-element {
      color: darkblue;
      cursor: pointer;
      padding: 1px 4px;
    }

    .remove-element {
      color: crimson;
      cursor: pointer;
      padding: 1px 4px;
    }
  }
}