.record-tree-view {
  text-align: left;
  font-size: 13px;
  overflow: hidden;
  user-select: none;
  padding-top: 24px;

  .tree-nodes {
    min-width: 300px;
    overflow: scroll;

    .element-unassigned {
      color: #aaa;
    }
  }

  .expand-all-nodes {
    right: 20px;

    &::before {
      content: "\f0fe";
    }
  }

  .collapse-all-nodes {
    padding-left: 4px;

    &::before {
      content: "\f146";
    }
  }
}