.game-logo-container {
  padding: 8px;
}

.profile-controls {
  select, span {
    display: inline-block;
    vertical-align: middle;
  }

  span.fa {
    margin-left: 4px;
    font-size: 30px;
    cursor: pointer;
  }

  select {
    padding: 4px;
    padding-right: 35px;
    font-size: 20px;
    min-width: 140px;
    -webkit-appearance: none;

    @include dropdown-triangle(10px);
  }
}
