<h3>Mod Manager</h3>
<section>
    <div class="setting">
        <span class="input-label">Mod manager</span>
        <select ng-model="settings.modManager">
            <option value="">None</option>
            <option ng-repeat="modManager in modManagers" value="{{::modManager.name}}">
                {{::modManager.name}}
            </option>
        </select>
    </div>
    <div ng-if="show.moInstance" class="setting" ng-init="getModOrganizerInstances()">
        <span class="input-label">MO2 Instance:</span>
        <select ng-model="settings.moInstance">
            <option value="">Portable</option>
            <option ng-repeat="instance in moInstances" value="{{::instance}}">
                {{::instance}}
            </option>
        </select>
    </div>
    <div ng-if="show.managerPath" class="setting">
        <span class="input-label">Mod manager path</span>
        <input type="text" ng-model="settings.managerPath" />
        <span class="browse-button" ng-click="browseSettingsPath('managerPath', 'Mod Manager Path')" title="Browse"></span>
    </div>
    <div ng-if="show.modsPath" class="setting">
        <span class="input-label">Mod manager mods path</span>
        <input type="text" ng-model="settings.modsPath" />
        <span class="browse-button" ng-click="browseSettingsPath('modsPath', 'Mod Manager Mods Path')" title="Browse"></span>
    </div>
</section>
