<div class="modal-container" ng-click="unfocusModal($event)">
    <div class="modal big-modal" ng-click="$broadcast('onParentClick', $event)" ng-keydown="$broadcast('keyDown', $event)" tabindex="0" autofocus>
        <form>
            <div class="close-modal" ng-click="$emit('closeModal')"></div>

            <h2>Add Masters to {{filename}}</h2>
            <section ng-if="availableMasters.length">
                <list-view items="availableMasters" list-class="checkbox-list">
                    <input type="checkbox" ng-model="$parent.item.active" />
                    {{::$parent.item.name}}
                </list-view>
            </section>

            <div class="content-message" ng-if="!availableMasters.length">
                There are no files that can be added as masters to this file.
            </div>

            <div class="action-button-container">
                <button class="action-btn" ng-click="applyValue()" ng-disabled="invalid">OK</button>
                <button class="action-btn" ng-click="$emit('closeModal')">Cancel</button>
            </div>
        </form>
    </div>
</div>
