<div class="modal-container" ng-click="unfocusModal($event)">
    <div class="modal">
        <form>
            <div class="close-modal" ng-click="$emit('closeModal')"></div>

            <h2>Automate</h2>
            <div class="select-script-container">
                <span>Script</span>
                <select ng-model="selectedScript" ng-options="script as script.fileName for script in scripts"></select>
                <dropdown items="sortModes" on-item-click="setSortMode">
                    <dropdown-display>
                        <i class="fa fa-sort-amount-desc" title="Sort by"></i>
                    </dropdown-display>
                    <dropdown-item>{{::$parent.item.label}}</dropdown-item>
                </dropdown>
                <button class="action-btn" ng-click="newScript()" title="Create a new script file.">New</button>
                <button class="action-btn" ng-click="saveScript()" title="Save edits made to the current script.">Save</button>
            </div>

            <textarea ng-model="scriptContents" code-mirror></textarea>

            <div class="action-button-container">
                <button class="action-btn" ng-click="runScript()">OK</button>
                <button class="action-btn" ng-click="$emit('closeModal')">Cancel</button>
            </div>
        </form>
    </div>
</div>
