<div class="title-bar">
    <div class="title">
        <div class="draggable">{{title}}</div>
    </div>
    <div class="actions">
        <span ng-repeat="button in buttons" class="{{::button.class}}" ng-click="buttonClick($event)" title="{{::button.title}}"></span>
        <span class="extensions" ng-click="extensionsClick()" title="Manage Extensions"></span>
        <span class="settings" ng-click="settingsClick()" title="Edit Settings"></span>
        <span class="help" ng-click="helpClick()" title="Get Help"></span>
        <span class="divider"></span>
        <span class="minimize" ng-click="minimizeClick()"></span>
        <span class="restore" ng-click="restoreClick()"></span>
        <span class="close" ng-click="closeClick()"></span>
    </div>
</div>

<ui-view></ui-view>

<context-menu ng-if="showContextMenu" items="contextMenuItems" offset="contextMenuOffset"></context-menu>
<ng-include ng-if="showModal" src="modalOptions.templateUrl" dyn-controller="modalOptions.controller" class="{{modalOptions.class}}"></ng-include>
