<div class="modal-container" unfocus-modal>
    <div class="modal huge-modal" list-view-parent>
        <form>
            <div class="close-modal" ng-click="$emit('closeModal')"></div>

            <h2>Copy {{label}} into</h2>

            <section>
                <list-view items="plugins" default-action="copy">
                    <input type="checkbox" ng-model="$parent.item.active"/>
                    <span ng-show="$parent.item.loadOrder !== undefined">[{{$parent.item.loadOrder | hex:2 }}]</span>
                    {{::$parent.item.filename}}
                </list-view>
            </section>

            <h3>Options</h3>
            <section>
                <label>
                    <input type="checkbox" ng-model="asOverride" />
                    Copy as override
                </label>
                <label>
                    <input type="checkbox" ng-model="smartCopy" ng-disabled="asOverride" />
                    Smart copy (adjust interconnected references)
                </label>
            </section>

            <div class="primary-actions">
                <button class="action positive" ng-click="copy()">OK</button>
                <button class="action" ng-click="$emit('closeModal')">Cancel</button>
            </div>
        </form>
    </div>
</div>
