<div class="modal-container" unfocus-modal="close()">
    <div class="modal huge-modal">
        <form>
            <div class="close-modal" ng-click="close()"></div>

            <h2>Edit Columns</h2>
            <section class="columns-container">
                <div ng-repeat="column in allColumns" class="column-item" ng-click="selectColumn($index)" ng-class="{ 'selected' : $index == selectedIndex }">
                    <input type="checkbox" ng-model="column.enabled" ng-if="!column.required">
                    {{column.label}}
                </div>
            </section>

            <h3 ng-if="selectedColumn.custom">
                Edit Custom Column
                <button class="action-btn negative small" ng-click="deleteColumn()" title="Delete this custom column.">Delete</button>
            </h3>
            <section ng-if="selectedColumn.custom" class="edit-custom-column">
                <label>
                    <span class="input-label">Label</span>
                    <input type="text" ng-model="selectedColumn.label"/>
                </label>
                <div class="flex-header">
                    <span>Data Retrieval Code</span>
                    <span>
                        <button class="action-btn small" ng-click="testCode()">Test</button>
                        <span class="help-tooltip clickable" title="Click here to learn how to create custom column data retrieval code." ng-click="getCodeHelp()">
                            <i class="fa fa-question-circle"></i>
                        </span>
                    </span>
                </div>
                <textarea ng-model="selectedColumn.getDataCode" code-mirror></textarea>
            </section>

            <div class="primary-actions">
                <button class="action-btn positive" ng-click="addColumn()">New Column</button>
                <button class="action-btn" ng-click="close()">OK</button>
            </div>
        </form>
    </div>
</div>
