<div class="modal-container" unfocus-modal>
    <div class="modal">
        <form>
            <div class="close-modal" ng-click="$emit('closeModal')"></div>

            <h2>{{::modalOptions.title}}</h2>
            <input ng-if="::(modalOptions.editType === 'string')" type="text" ng-model="$parent.value" maxlength="{{::modalOptions.maxLength}}" ng-change="validate()"/>
            <textarea ng-if="::(modalOptions.editType === 'text')" ng-model="$parent.value" maxlength="{{::modalOptions.maxLength}}" ng-change="validate()"></textarea>

            <div class="primary-actions">
                <button class="action" ng-click="applyValue()" ng-disabled="invalid">OK</button>
                <button class="action" ng-click="$emit('closeModal')">Cancel</button>
            </div>
        </form>
    </div>
</div>
