<div class="modal-container" unfocus-modal>
    <div class="modal scaling-modal" list-view-parent>
        <div class="close-modal" ng-click="$emit('closeModal')"></div>

        <h2>{{editing ? 'Edit' : 'Create'}} Merge</h2>

        <tabs source="editMergeModalTabs"></tabs>

        <div class="primary-actions">
            <button type="button" class="action-btn" ng-click="save()">OK</button>
            <button type="button" class="action-btn" ng-hide="editing" ng-click="$emit('closeModal')">Cancel</button>
        </div>
    </div>
</div>
