<div class="modal-container" unfocus-modal>
    <div class="modal {{vtClass}}" ng-click="$broadcast('onParentClick', $event)" ng-keydown="onKeyDown($event)" tabindex="0" autofocus>
        <form>
            <div class="close-modal" ng-click="$emit('closeModal')"></div>

            <div ng-if="::valueType === vtBytes">
                <h2>Edit Bytes
                    <div class="path">{{::path}}</div>
                </h2>
                <table class="hexeditor">
                    <thead>
                    <tr>
                        <th>Hex</th>
                        <th>Text</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="hex">
                            <span ng-repeat="byte in bytes track by $index" tabindex="0" ng-keydown="onByteKeyDown($event, $index)" ng-blur="onByteBlur($index)">{{byte}}</span>
                        </td>
                        <td class="text">
                            {{text}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div ng-if="::valueType === vtString">
                <h2>Edit String
                    <div class="path">{{::path}}</div>
                </h2>
                <input type="text" ng-model="$parent.value" maxlength="255"/>
            </div>

            <div ng-if="::valueType === vtText">
                <h2>Edit Text
                    <div class="path">{{::path}}</div>
                </h2>
                <!-- The need to access $parent is a smell; we should be using controllerAs syntax -->
                <textarea ng-model="$parent.$parent.value" maxlength="65535" ng-if="::!useHtmlEditor"></textarea>
                <textarea code-mirror="html" ng-model="$parent.$parent.value" ng-if="::useHtmlEditor"></textarea>
            </div>

            <div ng-if="::valueType === vtNumber">
                <h2>Edit Number
                    <div class="path">{{::path}}</div>
                </h2>
                <input type="text" class="numeric" ng-model="$parent.value" ng-class="{'invalid' : invalid}" ng-change="textChanged()"/>
            </div>

            <div ng-if="::valueType === vtReference">
                <h2>Edit Reference
                    <div class="path">{{::path}}</div>
                </h2>
                <div class="reference-selector">
                    <select ng-model="$parent.signature" ng-options="signature for signature in $parent.signatures"></select>
                    <autocomplete-input selected-item="$parent.value" search="referenceSearch" set-custom="setCustomResult">
                        {{::$parent.result}}
                    </autocomplete-input>
                </div>
            </div>

            <div ng-if="::valueType === vtColor">
                <h2>Edit Color
                    <div class="path">{{::path}}</div>
                </h2>
                <color-picker ng-model="$parent.color"></color-picker>
                <div class="color-input-container">
                    <div class="color-sample" ng-style="$parent.colorStyle"></div>
                    <input type="text" ng-model="$parent.value" ng-class="{'invalid' : invalid}" ng-change="textChanged()"/>
                </div>
            </div>

            <div ng-if="::valueType === vtEnum">
                <h2>Edit Enumeration
                    <div class="path">{{::path}}</div>
                </h2>
                <select ng-model="$parent.value" ng-options="option for option in $parent.options"></select>
            </div>

            <div ng-if="::valueType === vtFlags">
                <h2>Edit Flags
                    <div class="path">{{::path}}</div>
                </h2>
                <list-view items="flags" default-action="applyValue">
                    <input type="checkbox" ng-model="$parent.item.active" />
                    {{::$parent.item.name}}
                </list-view>
            </div>

            <div class="action-button-container">
                <button class="action-btn" ng-click="applyValue()" ng-disabled="invalid">OK</button>
                <button class="action-btn" ng-click="$emit('closeModal')">Cancel</button>
            </div>
        </form>
    </div>
</div>
