<div ng-if="showSearch" class="search" ng-controller="mainTreeSearchController">
    <input type="text" ng-model="search" ng-keydown="searchKeyDown($event)" ng-autofocus/>
    <button class="previous-result" ng-class="{'disabled' : !search.length}" ng-click="previousResult()">
        <i class="fa fa-arrow-up"></i>
    </button>
    <button class="next-result" ng-class="{'disabled' : !search.length}" ng-click="nextResult()">
        <i class="fa fa-arrow-down"></i>
    </button>
    <span class="divider"></span>
    <label>
        Search by
        <select ng-model="searchOptions.searchBy">
            <option ng-repeat="(key, value) in searchBy" value="{{key}}">{{value}}</option>
        </select>
    </label>
    <label>
        <input type="checkbox" ng-model="searchOptions.exact"/>
        Exact Match
    </label>
    <div class="close-bar">
        <span ng-click="closeSearch()">
            <i class="fa fa-times"></i>
        </span>
    </div>
</div>
<div class="columns">
    <span ng-repeat-start="column in columns" class="column column-{{::$index}}" ng-class="{'sortable' : column.canSort}" ng-click="toggleSort(column)">
        {{::column.label}}
        <span class="sort-arrow" ng-if="column.label === sort.column" title="Elements are sorted by this column in {{sort.reverse ? 'ascending' : 'descending'}} order.">
            <i class="fa fa-arrow-{{sort.reverse ? 'up' : 'down'}}"></i>
        </span>
    </span>
    <split-bar ng-repeat-end ng-if="!$last" offset="16" resize-callback="columnResized"></split-bar>
    <div class="edit-columns" ng-click="toggleColumnsModal(true)">
        <i class="fa fa-columns"></i>
    </div>
</div>
<div class="tree" tabindex="0" ng-keydown="onKeyDown($event)" ng-mousedown="treeMouseDown($event)" vs-repeat>
    <div ng-repeat="node in data.tree" ng-mousedown="selectNode($event, node)" ng-class="{'selected' : node.selected}" class="main-tree-node {{:: node.status }}" ng-init="node.has_data || getNodeData(node)">
        <span ng-repeat="value in node.column_values track by $index" class="column column-{{::$index}}">
            <span ng-if="::!$index" ng-style="{'padding-left': (node.depth * 20 + 8 + 'px')}">
                <span class="expand-node" ng-mousedown="toggleNode($event, node)" ng-if="::node.children_count">
                    <i class="fa fa-{{node.expanded ? 'minus' : 'plus'}}"></i>
                </span>
                <span class="placeholder" ng-if="::!node.children_count"></span>
            </span>
            {{::value}}
        </span>
    </div>
</div>

<edit-columns-modal ng-if="showColumnsModal"></edit-columns-modal>