<search-bar ng-if="showSearchBar" ng-controller="mainTreeSearchController"></search-bar>
<div class="tree-columns">
    <span ng-repeat-start="column in columns" class="column column-{{::$index}}" ng-class="{'sortable' : column.canSort}" ng-click="toggleSort(column)">
        {{::column.label}}
        <span class="sort-arrow" ng-if="column.label === sort.column" title="Elements are sorted by this column in {{sort.reverse ? 'ascending' : 'descending'}} order.">
            <i class="fa fa-arrow-{{sort.reverse ? 'up' : 'down'}}"></i>
        </span>
    </span>
    <split-bar ng-repeat-end ng-if="!$last" offset="16" resize-callback="columnResized"></split-bar>
    <div class="column-action edit-columns" ng-click="toggleColumnsModal(true)" title="Edit columns"></div>
</div>
<div class="tree-nodes" tabindex="0" ng-keydown="treeKeyDown($event)" ng-mousedown="treeMouseDown($event)" vs-repeat>
    <div ng-repeat="node in tree" ng-mousedown="selectNode($event, node)" ng-dblclick="dblClickNode($event, node)" ng-class="{'selected' : node.selected}" class="node {{:: node.class }}" ng-init="node.has_data || getNodeData(node)">
        <span ng-repeat="value in node.column_values track by $index" class="column column-{{::$index}}">
            <span ng-if="::$first" ng-style="{'padding-left': (node.depth * 20 + 8 + 'px')}">
                <span class="expand-node {{node.expanded ? 'expanded' : 'collapsed'}}" ng-mousedown="toggleNode($event, node)" ng-if="::node.can_expand"></span>
                <span class="placeholder" ng-if="::!node.can_expand"></span>
            </span>
            {{::value}}
        </span>
    </div>
</div>

<edit-columns-modal ng-if="showColumnsModal"></edit-columns-modal>