<div class="modal-container" unfocus-modal="close()">
    <div class="modal big-modal">
        <form>
            <div class="close-modal" ng-click="close()"></div>

            <h2>Game Profiles</h2>
            <section>
                <profile ng-repeat="profile in profiles"></profile>
            </section>

            <section>
                <div class="subsection default-profile-section">
                    <span class="input-label">Default Profile</span>
                    <select ng-model="defaultProfile" ng-options="profile as profile.name for profile in profiles | profileValid">
                        <option value="">None</option>
                    </select>
                </div>
            </section>

            <div class="primary-actions">
                <button class="action positive" ng-click="addProfile()">Add Profile</button>
                <button class="action" ng-click="close()">Close</button>
            </div>
        </form>
    </div>
</div>
