<record-address-bar ng-if="showAddressBar"></record-address-bar>
<search-bar ng-if="showSearchBar" ng-controller="recordTreeSearchController"></search-bar>
<div ng-if="record" class="column-wrapper">
    <div class="tree-columns fix-width">
        <span ng-repeat-start="column in columns" class="column column-{{::$index}}">
            {{::column.label}}
            <div ng-if="::$first" class="column-action expand-all-nodes" ng-click="expandAllNodes()" title="Expand all nodes"></div>
            <div ng-if="::$first" class="column-action collapse-all-nodes" ng-click="collapseAllNodes()" title="Collapse all nodes"></div>
        </span>
        <split-bar ng-repeat-end mode="1" resize-callback="columnResized" class="{{::$first ? 'first-split-bar' : ''}}" offset="17"></split-bar>
    </div>
</div>
<div ng-if="record" class="tree-nodes" tabindex="0" ng-keydown="onTreeKeyDown($event)" ng-mousedown="onTreeMouseDown($event)" ng-scroll="onScroll($event)" ng-drag-over="onDragOver()" ng-drop="onDrop()" vs-repeat>
    <div ng-repeat="node in tree" ng-mousedown="onNodeMouseDown($event, node)" ng-dblclick="onNodeDoubleClick($event, node)" ng-class="{'selected' : node.selected}" class="node fix-width {{::node.class}}" ng-init="node.has_data || getNodeData(node)">
        <span ng-repeat="cell in node.cells track by $index" class="column column-{{::$index}} {{::cell.class}}" ng-mousedown="onCellMouseDown($index)" ng-dblclick="onCellDoubleClick($event, node, $index)" ng-class="{'focused' : focusedIndex == $index}">
            <span ng-if="::$first" ng-style="{'padding-left': (node.depth * 20 + 8 + 'px')}">
                <span class="expand-node {{node.expanded ? 'expanded' : 'collapsed'}}" ng-mousedown="toggleNode($event, node)" ng-if="node.can_expand"></span>
                <span class="placeholder" ng-if="!node.can_expand"></span>
            </span>
            {{::cell.value}}
        </span>
    </div>
</div>
<div ng-if="!record" class="message-container" ng-drag-over="onDragOver()" ng-drop="onDrop()">
    <div ng-if="linked" class="pane-message">
        Double click a record in the main tree view <b>OR</b> drag and drop a record here to view it.
    </div>
    <div ng-if="!linked" class="pane-message">
        Drag and drop a record here to view it.
    </div>
</div>

<edit-columns-modal ng-if="showColumnsModal"></edit-columns-modal>
<edit-value-modal ng-if="showEditModal"></edit-value-modal>