<record-address-bar ng-if="showAddressBar"></record-address-bar>
<!-- TODO: search bar disabled for alpha because not coded yet -->
<search-bar ng-if="false" ng-controller="recordSearchController"></search-bar>
<div ng-if="record" class="column-wrapper">
    <div class="tree-columns fix-width">
        <span ng-repeat-start="column in columns" class="column column-{{::$index}}" ng-class="{'focused' : focusedIndex == $index}">
            {{::column.label}}
            <div ng-if="::$first" class="column-action expand-all-nodes" ng-click="expandAllNodes()" title="Expand all nodes"></div>
            <div ng-if="::$first" class="column-action collapse-all-nodes" ng-click="collapseAllNodes()" title="Collapse all nodes"></div>
        </span>
        <split-bar ng-repeat-end mode="1" resize-callback="columnResized" class="{{::$first ? 'first-split-bar' : ''}}" offset="17"></split-bar>
    </div>
</div>
<div ng-if="record" class="tree-nodes" tabindex="0" ng-keydown="onTreeKeyDown($event)" ng-mousedown="onTreeMouseDown($event)" ng-scroll="onScroll($event)" ng-drop="onDrop()" drag-over="onDragOver()" theme-scrollbar-fix vs-repeat>
    <div ng-repeat="node in tree" class="node fix-width" tree-node>
        <span ng-repeat="cell in node.cells track by $index" class="column column-{{::$index}} {{::cell.class}}" ng-mousedown="onCellMouseDown($event, node, $index)" ng-mouseover="onCellMouseOver($event, node, $index)" ng-mouseleave="onCellMouseLeave()" ng-dblclick="onCellDoubleClick($event, node, $index)" ng-class="{'focused' : focusedIndex == $index}" ng-drag="onCellDrag(node, $index)" ng-drop="onCellDrop(node, $index)" drag-over="onCellDragOver(node, $index)">
            <span ng-if="::$first" ng-style="{'padding-left': (node.depth * 20 + 8 + 'px')}">
                <span class="expand-node {{node.expanded ? 'expanded' : 'collapsed'}}" ng-mousedown="toggleNode($event, node)" ng-if="node.can_expand"></span>
                <span class="placeholder" ng-if="!node.can_expand"></span>
            </span>
            {{::cell.value}}
        </span>
    </div>
</div>
<div ng-if="!record" class="message-container" ng-drop="onDrop()" drag-over="onDragOver()">
    <div ng-if="view.linkedTreeView" class="pane-message">
        Double click <b>OR</b> drag and drop a record or file here to view it.
    </div>
    <div ng-if="!view.linkedTreeView" class="pane-message">
        Drag and drop a record or file here to view it.
    </div>
</div>

<view-linker ng-show="linking" class="{{linkClass}}" ng-click="link()"></view-linker>

<edit-columns-modal ng-if="showColumnsModal"></edit-columns-modal>
<edit-value-modal ng-if="showEditModal"></edit-value-modal>
