<div class="modal-container">
    <div class="modal">
        <form>
            <div class="close-modal" ng-click="$emit('closeModal')"></div>

            <h2>Refactor File</h2>
            <section>
                <label>
                    <span class="input-label">File name</span>
                    <input type="text" ng-model="filename" maxlength="64" />
                </label>
                <label>
                    <span class="input-label">Author</span>
                    <input type="text" ng-model="author" maxlength="255" />
                </label>
                <label>
                    <span class="input-label">Description</span>
                    <textarea ng-model="description" maxlength="255"></textarea>
                </label>
            </section>

            <div class="primary-actions">
                <button class="action" ng-click="doRefactor()">OK</button>
                <button class="action" ng-click="$emit('closeModal')">Cancel</button>
            </div>
        </form>
    </div>
</div>
