<div class="modal-container" unfocus-modal="saveSettings()">
    <div class="modal tabs-modal">
        <div class="close-modal" ng-click="saveSettings()"></div>

        <div class="tabs-container">
            <div ng-repeat="tab in tabs" class="tab" ng-class="{'selected': tab.selected}" ng-click="onTabClick($event, tab)">
                {{::tab.label}}
            </div>
        </div>

        <form class="tab-contents">
            <ng-include src="currentTab.templateUrl" dyn-controller="currentTab.controller"></ng-include>

            <div class="primary-actions">
                <button class="action-btn" ng-click="saveSettings()">OK</button>
            </div>
        </form>
    </div>
</div>
