<h2>Browse Themes</h2>

<p>Themes are published via the <a href="https://github.com/z-edit/zedit-registry">zedit-registry</a>.</p>

<item-filters></item-filters>

<loader message="'Retrieving themes...'" spinner-opts="spinnerOpts" ng-if="!themes"></loader>

<div class="content-message" ng-if="themes" ng-show="!themes.length">
    No themes found.
</div>

<div ng-repeat="theme in themes | limitTo: perPage : offset" class="theme-item">
    <div class="theme-header">
        <span class="theme-title">{{::theme.name}}</span>
        <span class="theme-author">by {{::theme.author}}</span>
    </div>
    <div class="theme-description">
        {{::theme.description}}
    </div>
    <div class="theme-footer">
        <button class="action positive" ng-click="installTheme(theme)">
            Install
        </button>
    </div>
</div>

<page-controls ng-if="themes" per-page="10" items="themes"></page-controls>
