<h2>Browse Modules</h2>

<span class="help-message">Modules are published via the <a href="https://github.com/matortheeternal/zedit-registry">zedit-registry</a> repo and are installed to {{::modulesFolderPath}}.</span>

<div ng-repeat="module in modules" class="module-item">
    <div class="module-header">
        <span class="module-title" title="{{::module.id}}" ng-click="openRepo(module)">{{::module.name}}</span>
        <span class="module-version" title="{{::module.releaseInfo}}">{{::module.version}}</span>
        <span class="module-author">{{::module.author}}</span>
    </div>
    <div class="module-description">
        {{::module.description}}
    </div>
    <div class="module-footer">
        <button class="action positive" ng-click="installModule(module)">
            Install
        </button>
    </div>
</div>
