<h2>Installed Modules ({{modules.length}})</h2>

<div class="restart-message" ng-if="showRestart">
    The application needs to be restarted for your changes to be applied.
    <button class="action-btn small negative" ng-click="restart()">Restart Now</button>
</div>

<div ng-repeat="module in modules" class="module-item">
    <div class="header">
        <span class="title" ng-click="openRepo(module)" ng-class="{'no-link' : !module.repo}">{{::module.name}}</span>
        <span class="version" title="{{::module.releaseInfo}}">{{::module.version}}</span>
        <span class="author">by {{::module.author}}</span>
    </div>
    <div class="description">
        {{::module.description}}
    </div>
    <div class="footer">
        <button class="action-btn" ng-if="false" ng-click="toggleModule(module)">
            {{::(module.enabled ? 'Disable' : 'Enable')}}
        </button>
        <button class="action-btn negative" ng-click="uninstallModule(module)">
            Uninstall
        </button>
    </div>
</div>

<div class="action-button-container">
    <button class="action-btn" ng-click="installModule()">Install Module</button>
</div>
