<h2>Archive Creation Settings</h2>

<h3>Files to include
    <button class="action small positive" ng-click="addFileExpr()">Add</button>
</h3>
<p>Use glob expressions. <a href="https://github.com/isaacs/node-glob#glob-primer">Click for more information.</a></p>
<section class="list-edit">
    <div ng-repeat="expr in settings.archiveCreation.fileExprs">
        <input type="text" ng-model="expr" />
        <span class="remove-item" ng-click="removeFileExpr($index)"></span>
    </div>
</section>

<h3>Advanced</h3>
<section>
    <div class="setting">
        <span class="input-label">Maximum archive file size</span>
        <number-input type="bytes" model="settings.archiveCreation.maxSize"></number-input>
    </div>
    <div class="setting">
        <span class="input-label">Minimum files per archive</span>
        <number-input type="positiveInteger" model="settings.archiveCreation.minFileCount"></number-input>
    </div>
    <label>
        <input type="checkbox" ng-model="settings.archiveCreation.createTexturesArchive"/>
        <span class="input-label">Create textures archive</span>
    </label>
    <label>
        <input type="checkbox" ng-model="settings.archiveCreation.createMultipleArchives"/>
        <span class="input-label">Create multiple archives</span>
    </label>
</section>
