<h2>Core Settings</h2>

<section>
    <div class="current-profile">Current Profile:
        <span class="profile-name">{{::profileName}}</span>
    </div>
</section>

<h3>Display</h3>
<section>
    <div>
        <span class="input-label">Application Theme</span>
        <select ng-model="theme" ng-options="theme.name for theme in themes" ng-change="themeChanged()"></select>
    </div>
    <div class="subsection">
        <h4>Theme Metadata</h4>
        <div class="theme-metadata">
            <div>
                <span class="input-label">Name</span>
                <span>{{theme.name}}</span>
            </div>
            <div>
                <span class="input-label">Author</span>
                <span>{{theme.author}}</span>
            </div>
            <div>
                <span class="input-label">Version</span>
                <span>{{theme.version}}</span>
            </div>
            <div>
                <span class="input-label">Released</span>
                <span>{{theme.released}}</span>
            </div>
            <div>
                <span class="input-label">Updated</span>
                <span>{{theme.updated}}</span>
            </div>
            <div class="theme-description">
                <div>Description</div>
                <div>{{theme.description}}</div>
            </div>
        </div>
    </div>
    <div>
        <span class="input-label">Syntax Theme</span>
        <select ng-model="syntaxTheme" ng-options="theme.name for theme in syntaxThemes" ng-change="syntaxThemeChanged()">
            <option value="">Default</option>
        </select>
    </div>
    <div class="subsection syntax-theme-preview">
        <h4>Syntax Theme Preview</h4>
        <textarea code-mirror ng-model="sampleCode"></textarea>
    </div>
</section>
