<h2>Error Caching Settings</h2>

<section>
    <label>
        <input type="checkbox" ng-model="settings.cacheErrors"/>
        Cache errors to disk
    </label>
</section>

<h3>
    Error Cache
    <button class="action negative small" ng-click="clearErrorCache()">Clear</button>
</h3>
<div class="cache-container">
    <div class="cache-item" ng-repeat="item in errorCache" ng-hide="item.deleted">
        <div class="delete-item">
            <button class="action negative small" ng-click="deleteCache(item)">
                Delete
            </button>
        </div>
        <div class="filename">{{::item.filename}}</div>
        <div class="clickable" ng-click="item.showFiles = !item.showFiles">
            <i class="fa fa-chevron-{{item.showFiles ? 'down' : 'right'}}"></i>
            {{item.files.length}} Cache File{{item.files.length != 1 ? 's' : ''}}
        </div>
        <div ng-show="item.showFiles">
            <table class="cache-files-table">
                <thead>
                <tr>
                    <th>Hash</th>
                    <th>Error Count</th>
                    <th>Date</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="file in item.files">
                    <td class="monospace">{{::file.hash}}</td>
                    <td>{{::file.error_count}}</td>
                    <td title="{{::file.modified | date:'longDate'}} {{::file.modified | date:'mediumTime'}}">{{::file.modified | date}}</td>
                    <td class="clickable" ng-click="deleteCache(item, file)">
                        <span class="fa fa-times" title="Delete cache file"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div ng-if="!errorCache.length" class="content-message">
        The Error Cache is empty.
    </div>
</div>
