<h3>Tree View Settings</h3>

<section>
    <label>
        <input type="checkbox" ng-model="settings.treeView.showGroupSignatures"/>
        <span class="input-label">Show group signatures</span>
    </label>
    <label>
        <input type="checkbox" ng-model="settings.treeView.promptOnDeletion"/>
        <span class="input-label">Prompt on deletion</span>
    </label>
    <label>
        <input type="checkbox" ng-model="settings.treeView.showFileHeaders"/>
        <span class="input-label">Show separate file headers</span>
    </label>
</section>