button {
  font-family: 'Roboto', sans-serif;
}

.primary-actions {
  margin: 16px;

  button {
    font-size: 28px;
    padding: 8px 16px;
  }
}

.action-btn {
  color: $inverse_font_color !important;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  background-color: $action;
  border-radius: 2px;
  border: none;
  margin: 2px;
  font-size: 18px;
  padding: 4px 8px;
  font-weight: 500;
  user-select: none;
  -webkit-transition: background-color 0.2s ease-in-out;

  &.small {
    font-size: 14px;
    padding: 2px 6px;
    vertical-align: middle;
  }

  &:hover {
    background-color: $action_hover !important;
  }

  &.negative {
    background-color: $negative;
  }

  &.positive {
    background-color: $positive;
  }

  &.small {
    font-size: 12px;
    padding: 4px 6px;
  }

  &.disabled {
    background-color: $action_disabled !important;
    cursor: default;
  }
}

h2, h3 {
  button {
    margin-left: 4px;
  }
}

.glyph-button {
  font-size: 14px;
  border: none;
  background: none;

  &:focus {
    outline: none;
  }

  &.disabled {
    color: $soft_font_color;
  }

  &:hover:not(.disabled) {
    background: $background_tint;
    border: 1px solid $medium_border;
    border-radius: 4px;
    padding: 0 5px;
  }
}