button {
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

.primary-actions {
  margin: 16px;

  button {
    font-size: 28px;
    padding: 8px 16px;
  }
}

button.action {
  text-align: center;
  display: inline-block;
  background-color: $action;
  color: $inverse_font_color;
  border-radius: 2px;
  border: none;
  margin: 2px;
  font-size: 18px;
  padding: 4px 8px;
  font-weight: 500;
  -webkit-transition: background-color 0.2s ease-in-out;

  &.small {
    font-size: 14px;
    padding: 2px 6px;
    vertical-align: middle;
  }

  &:hover:not(.no-hover) {
    background-color: $action_hover !important;
  }

  &.negative {
    background-color: $negative;
  }

  &.neutral {
    background-color: $neutral;
  }

  &.positive {
    background-color: $positive;
  }

  &.big {
    font-size: 32px;
    padding: 12px 28px 14px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
  }

  &.small {
    font-size: 12px;
    padding: 4px 6px;
  }

  &:disabled {
    background-color: $action_disabled !important;
    cursor: default;
  }
}

button.text {
  background: none;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  padding: 3px;
  transition: color ease-in-out 0.2s;

  &:hover {
    color: $secondary_action;
  }
}

h2, h3 {
  button {
    margin: 0;
  }
}

.glyph-button {
  font-size: 14px;
  color: $secondary_action;
  border: none;
  background: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:disabled {
    color: $soft_font_color;
  }

  &:hover:not(:disabled) {
    background: $secondary_background;
    border: 1px solid $medium_border;
    border-radius: 4px;
    padding: 0 5px;
  }
}

.browse-button {
  font: 14px FontAwesome;
  font-size: inherit;
  cursor: pointer;

  &:before {
    content: "\f115";
  }
}
