body {
  height: 100vh;
  margin: 0;
  user-select: none;
  font-family: 'Open Sans', sans-serif;
  color: $font_color;
  background: $background;
  overflow: hidden;
}

html.row-resize * {
  cursor: row-resize !important;
}

html.col-resize * {
  cursor: col-resize !important;
}

* {
  box-sizing: border-box;
}

div {
  cursor: default;
}

a {
  color: $action;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

a.plain {
  color: $font_color;
}

a.brighten {
  color: $medium_font_color;

  &:hover {
    text-decoration: none;
    color: $font_color;
  }
}

code {
  background-color: $secondary_background;
  padding: 0 3px;
  line-height: 1.4em;
  @include monospace;
}

kbd {
  border: 1px solid $medium_border;
  border-radius: 3px;
  padding: 2px 4px;
  display: inline-block;
  margin: 3px 0;
  box-shadow: inset 0 -1px 0 $hard_border;
  font-size: 90%;
  border-bottom-color: $hard_border;
  @include monospace;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

ui-view {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  text-align: center;
  transition: background ease-in-out 0.3s;

  .container {
    padding: 20px 40px;
    background-color: aliceblue;
    overflow-y: auto;
    height: calc(100vh - 112px);

    .center-column {
      margin: auto;
      max-width: 1000px;

      h1 {
        margin-top: 0;
        margin-bottom: 10px;
      }
    }

    .main-actions {
      position: fixed;
      bottom: 0;
      left: 0;
      padding: 15px;
      text-align: center;
      width: 100vw;
      border-top: 1px solid $medium_border;
      background-color: $background;
    }
  }

  .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 87px);
  }
}

.content-message {
  text-align: center;
  margin: 30px 15px;
}

.expander {
  min-width: 16px;
  text-align: center;
  font: 14px FontAwesome;

  &.expanded::before {
    content: "\f078";
  }

  &.collapsed::before {
    content: "\f054";
  }
}

section.header-section {
  border-bottom: 1px solid $hard_border;

  h2 {
    font-size: 2em;
    margin: 0;
    text-align: center;
  }
}

section.footer-section {
  border-top: 1px solid $hard_border;

  .primary-actions {
    margin: 0;
  }
}

.vertical-flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;

  p {
    text-align: left;
  }

  .right {
    align-self: flex-end;
  }
}

h4 {
  margin: 14px 0 0;
  text-transform: uppercase;
  font-weight: 300;
}

hr {
  width: 100%;
}

.material-select {
  width: 100%;
  padding: 4px;
  padding-right: 35px;
  border: none;
  border-bottom: 2px solid $soft_font_color;
  background: none;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-appearance: none;
}
