body {
  height: 100vh;
  margin: 0;
  user-select: none;
  font-family: 'Roboto', sans-serif;
  color: $font_color;
  background: $background;
  overflow: hidden;
}

html.row-resize * {
  cursor: row-resize !important;
}

html.col-resize * {
  cursor: col-resize !important;
}

* {
  box-sizing: border-box;
}

div {
  cursor: default;
}

a {
  text-decoration: none;
}

.title-bar {
  border-bottom: 1px solid $shadow;
  background-color: $background;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  .title {
    flex: 1;
    cursor: default;
    padding: 4px 0 0 4px;

    .draggable {
      padding: 7px 11px 11px;
      -webkit-app-region: drag;
    }
  }

  .actions {
    font-size: 22px;
    cursor: default;
    padding-right: 4px;

    span {
      cursor: pointer;
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      min-width: 18px;
    }

    .extensions {
      font: 22px FontAwesome;
      margin-right: 4px;

      &::before {
        content: '\f1b3';
      }
    }

    .settings {
      font: 22px FontAwesome;
      margin-right: 4px;

      &::before {
        content: '\f013';
      }
    }

    .help {
      &::before {
        content: '?';
      }
    }

    .divider {
      cursor: default;
      opacity: 0.4;
      border-right: 1px solid $hard_border;
      min-width: initial;
      min-height: 26px;
      margin-right: 8px;
    }

    .minimize {
      margin-top: -6px;

      &::before {
        content: '_';
      }
    }

    .restore {
      font-size: 33px;
      line-height: 16px;
      margin-top: -6px;

      &::before {
        content: '\25A1';
      }
    }

    .close {
      margin-top: 1px;

      &::before {
        content: 'X';
      }
    }
  }
}

ui-view {
  text-align: center;

  .container {
    padding: 20px 40px;
    background-color: aliceblue;
    overflow-y: auto;
    height: calc(100vh - 112px);

    .center-column {
      margin: auto;
      max-width: 1000px;

      h1 {
        margin-top: 0;
        margin-bottom: 10px;
      }
    }

    .main-actions {
      position: fixed;
      bottom: 0;
      left: 0;
      padding: 15px;
      text-align: center;
      width: 100vw;
      border-top: 1px solid $medium_border;
      background-color: $background;
    }
  }

  .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 87px);
  }
}

.content-message {
  text-align: center;
  margin: 30px 15px;
}

.expander {
  min-width: 16px;
  text-align: center;
  font: 14px FontAwesome;

  &.expanded::before {
    content: "\f078";
  }

  &.collapsed::before {
    content: "\f054";
  }
}
