.modal-container {
  position: fixed;
  top: 42px;
  left: 0;
  width: 100%;
  height: calc(100% - 42px);
  overflow-y: auto;
  z-index: 15;
  background-color: rgba($modal_shadow, 0.4);

  .modal {
    position: relative;
    max-width: 400px;
    padding: 40px;
    margin: 150px auto;
    box-shadow: 1px 1px 10px 1px rgba($shadow, 0.8);
    background-color: $background;

    h2:first-of-type {
      margin-top: 0;
    }

    h3 {
      margin-top: 24px;
    }

    &:focus {
      outline: none;
    }

    .section-title {
      display: block;
      vertical-align: top;
      font-size: 20px;
      font-weight: 500;
    }
  }

  .huge-modal {
    max-width: 900px;
    margin: 75px auto;
  }

  .big-modal {
    max-width: 600px;
    margin: 75px auto;
  }

  .skinny-modal {
    max-width: 500px;
    margin: 75px auto;
  }

  .tabs-modal {
    padding: 0;
    display: flex;
    align-items: stretch;
    align-content: stretch;
    max-width: 900px;
    min-height: 400px;

    h3 {
      margin-top: 0;
    }

    h4 {
      margin: 8px 0;
    }

    .tabs-container {
      border-right: 1px solid $medium_border;
      margin-right: 4px;
      height: initial;
      padding: 6px 0;
      width: 250px;

      .tab {
        padding: 2px 16px;

        &.selected {
          background-color: $selected;
        }
      }
    }

    .tab-contents {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: left;
      padding: 24px;
      flex: 1;
    }
  }

  .messages {
    background-color: transparent;

    .error-message, .success-message {
      font-size: 18px;
    }
  }

  .section-title {
    margin-top: 0;
  }

  section {
    margin: 15px;
  }
}

.close-modal {
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 3px;
  cursor: pointer;
  font: 20px FontAwesome;

  &::before {
    content: "\f00d";
  }
}
