.monospace {
  font-family: 'Courier New', monospace;
}

.clickable {
  cursor: pointer;
}

.limit-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: bottom;
  max-width: 100%;
}

.subtitle {
  color: gray;
}

.right-item {
  float: right;
}

.help-tooltip {
  color: burlywood;
  font-size: 20px;
  vertical-align: middle;
}

.flex-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}