<div ng-repeat="item in vm.items" ng-init="short = !vm.api && !item.args" ng-class="{'tint-bg' : vm.tintBg}">
    <span class="title" ng-click="item.expanded = !item.expanded">
        <span class="expander {{item.expanded ? 'expanded' : 'collapsed'}}"></span>
        {{::item.name}}
        <span ng-repeat="icon in item.icons" class="icon icon-{{::icon}}"></span>
        <span class="property-code" ng-if="!short">
            <span ng-if="vm.api">
                <span class="library">{{::vm.api}}</span>.
            </span>
            <span class="type-{{::item.type | classify}}" title="{{::item.type}}" ng-if="::!item.isEvent">{{::item.name}}</span>
            <span ng-if="::item.isEvent">$emit</span>
            <span class="args" ng-if="::item.args">
                (
                <span ng-if="::item.isEvent" class="arg type-event">'{{::item.name}}'</span>
                <span ng-repeat="arg in item.args" class="arg" title="{{::arg.description | wordwrap}}">
                    {{::arg.name}}: <span class="type type-{{::arg.type | classify}}">{{::arg.type}}</span>
                </span>
                )
            </span>
            <span class="returns" ng-if="::item.returns">
                <span class="return-arrow"></span>
                <span class="type type-{{::item.returns.type | classify}}" title="{{::item.returns.description}}">
                    {{::item.returns.type}}
                </span>
            </span>
        </span>
        <span class="property-code" ng-if="short">
            <span class="type type-{{::item.type | classify}}">{{::item.type}}</span>
        </span>
    </span>

    <div ng-show="item.expanded">
        <div ng-if="::item.members">
            <span class="api-section-title">Members</span>
            <enumeration-members members="item.members"></enumeration-members>
        </div>

        <div ng-if="::item.objectSchema">
            <span class="api-section-title">{{::item.objectSchema.name}}</span>
            <object-schema schema="item.objectSchema.properties"></object-schema>
        </div>

        <div ng-if="::item.description">
            <span class="api-section-title">Description</span>
            <!-- TODO: markdown -->
            <div class="property-description" marked="::item.description"></div>
        </div>

        <div ng-if="::item.items">
            <span class="api-section-title">{{::item.itemsLabel || 'Items'}}</span>
            <api-items items="item.items" depth="(vm.depth || 0) + 1"></api-items>
        </div>
    </div>
</div>
