<div ng-repeat="item in items">
    <span class="title" ng-click="item.expanded = !item.expanded">
        <span class="expander {{item.expanded ? 'expanded' : 'collapsed'}}"></span>
        {{::item.name}}
        <span ng-repeat="icon in item.icons" class="icon icon-{{::icon}}"></span>
        <span class="property-code">
            <span class="library">{{::$parent.api}}</span>.
            <span class="type-{{::item.type | classify}}" title="{{::item.type}}">{{::item.name}}</span>
            <span class="args" ng-if="::item.args">
                (
                <span ng-repeat="arg in item.args" class="arg" title="{{::arg.description | wordwrap}}">
                    {{::arg.name}}: <span class="type-{{::arg.type | classify}}">{{::arg.type}}</span>
                </span>
                )
            </span>
            <span class="returns" ng-if="::item.returns">
                <span class="return-arrow"></span>
                <span class="type-{{::item.returns.type | classify}}" title="{{::item.returns.description}}">
                    {{::item.returns.type}}
                </span>
            </span>
        </span>
    </span>

    <div ng-show="item.expanded">
        <div ng-if="::item.members">
            <span class="api-section-title">Members</span>
            <table class="members-table">
                <thead>
                <tr>
                    <th>Ordinal</th>
                    <th>Key</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="member in item.members">
                    <td>{{::$index}}</td>
                    <td>{{::member.key}}</td>
                    <td>{{::member.description || '-'}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div ng-if="::item.objectSchema">
            <span class="api-section-title">{{::item.objectSchema.name}}</span>
            <table class="properties-table">
                <thead>
                <tr>
                    <th>Key</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="property in item.objectSchema.properties">
                    <td>{{::property.key}}</td>
                    <td>{{::property.type}}</td>
                    <td>{{::property.description || '-'}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div ng-if="::item.description">
            <span class="api-section-title">Description</span>
            <!-- TODO: markdown -->
            <div class="property-description" marked="::item.description"></div>
        </div>
    </div>
</div>
