<div class="modal-container" ng-click="unfocusEditModal($event)">
    <div class="modal {{vtClass}}" ng-click="$broadcast('clearSelection')" tabindex="0" ng-keypress="$broadcast('keyPress', $event)">
        <form>
            <div class="close-modal">
                <span class="fa fa-times" ng-click="toggleEditModal()"></span>
            </div>

            <div ng-if="::targetNode.value_type == vtBytes">
                <h2>Edit Bytes
                    <div class="path">{{::path}}</div>
                </h2>
                <table class="hexeditor">
                    <thead>
                    <tr>
                        <th>Hex</th>
                        <th>Text</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="hex">
                            <span ng-repeat="byte in bytes track by $index" tabindex="0" ng-keydown="onByteKeyDown($event, $index)" ng-blur="onByteBlur($index)">{{byte}}</span>
                        </td>
                        <td class="text">
                            {{text}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div ng-if="::targetNode.value_type == vtString">
                <h2>Edit String
                    <div class="path">{{::path}}</div>
                </h2>
                <input type="text" ng-model="$parent.value" maxlength="255"/>
            </div>

            <div ng-if="::targetNode.value_type == vtText">
                <h2>Edit Text
                    <div class="path">{{::path}}</div>
                </h2>
                <textarea ng-model="$parent.value" maxlength="65535"></textarea>
            </div>

            <div ng-if="::targetNode.value_type == vtNumber">
                <h2>Edit Number
                    <div class="path">{{::path}}</div>
                </h2>
                <input type="text" class="numeric" ng-model="$parent.value" ng-class="{'invalid' : invalid}" ng-change="textChanged()"/>
            </div>

            <div ng-if="::targetNode.value_type == vtReference">
                <h2>Edit Reference
                    <div class="path">{{::path}}</div>
                </h2>
                <input type="text" ng-model="$parent.value" ng-class="{'invalid' : invalid}" ng-change="textChanged()"/>
                <!-- TODO: autocomplete dropdown -->
            </div>

            <div ng-if="::targetNode.value_type == vtColor">
                <h2>Edit Color
                    <div class="path">{{::path}}</div>
                </h2>
                <color-picker ng-model="$parent.color"></color-picker>
                <div class="color-input-container">
                    <div class="color-sample" ng-style="$parent.colorStyle"></div>
                    <input type="text" ng-model="$parent.value" ng-class="{'invalid' : invalid}" ng-change="textChanged()"/>
                </div>
            </div>

            <div ng-if="::targetNode.value_type == vtEnum">
                <h2>Edit Enumeration
                    <div class="path">{{::path}}</div>
                </h2>
                <select ng-model="$parent.value" ng-options="option for option in $parent.options"></select>
            </div>

            <div ng-if="::targetNode.value_type == vtFlags">
                <h2>Edit Flags
                    <div class="path">{{::path}}</div>
                </h2>
                <list-view items="flags" list-class="checkbox-list">
                    <input type="checkbox" ng-model="$parent.item.active" />
                    {{::$parent.item.name}}
                </list-view>
            </div>

            <div class="action-button-container">
                <button class="action-btn" ng-click="applyValue()" ng-disabled="invalid">OK</button>
                <button class="action-btn" ng-click="toggleEditModal()">Cancel</button>
            </div>
        </form>
    </div>
</div>
