<div class="list-items" ng-class="{'dragging' : ctrl.dragging}">
    <div ng-repeat="item in ctrl.items" class="list-item" ng-class="{'selected': item.selected}" ng-mousedown="ctrl.onItemMouseDown($event, $index)" ng-drag="ctrl.onItemDrag($index)" ng-drop="ctrl.onItemDrop($event, $index)" drag-over="ctrl.onItemDragOver($event, $index)" drag-leave="ctrl.onItemDragLeave($event)" ng-transclude></div>
    <div ng-if="!ctrl.items.length && ctrl.dragType" class="placeholder" ng-drop="ctrl.onPlaceholderDrop($event)" drag-over="ctrl.onPlaceholderDragOver()"></div>
</div>
<div class="filter-container" ng-if="ctrl.filterItems">
    <div ng-repeat="item in ctrl.filterItems">
        <label>
            {{::item.label}}
            <input type="text" ng-model="item.text" ng-change="ctrl.filterChanged()" ng-keydown="ctrl.onFilterKeyDown($event)" autofocus />
        </label>
    </div>
</div>
