<div class="list-items" ng-class="{'dragging' : dragging}">
    <div ng-repeat="item in items" class="list-item" ng-class="{'selected': item.selected}" ng-mousedown="onItemMouseDown($event, $index)" ng-drag="onItemDrag($event, $index)" ng-drop="onItemDrop($event, $index)" drag-over="onItemDragOver($event, $index)" drag-leave="onItemDragLeave($event)" ng-transclude></div>
    <div ng-if="!items.length && dragType" class="placeholder" ng-drop="onPlaceholderDrop($event)" drag-over="onPlaceholderDragOver()"></div>
</div>
<div class="filter-container" ng-if="filterItems">
    <div ng-repeat="item in filterItems">
        <label>
            {{::item.label}}
            <input type="text" ng-model="item.text" ng-change="filterChanged()" ng-keydown="onFilterKeyDown($event)" autofocus />
        </label>
    </div>
</div>
