<div class="modal-container">
    <div class="modal skinny-modal" ng-click="$broadcast('parentClick', $event)" ng-keydown="$broadcast('keyDown', $event)" tabindex="0" autofocus>
        <form>
            <h3>Load Order</h3>
            <section>
                <list-view items="loadOrder" drag-type="loadOrderList" default-action="loadPlugins">
                    <input type="checkbox" ng-model="$parent.item.active" ng-change="updateIndexes()" />
                    <span ng-show="$parent.item.active">[{{$parent.item.index | hex:2 }}]</span>
                    {{::$parent.item.filename}}
                </list-view>
            </section>

            <div class="action-button-container">
                <button class="action-btn" ng-click="loadPlugins()">OK</button>
            </div>
        </form>
    </div>
</div>
