<div class="modal-container">
    <div class="modal skinny-modal" ng-click="clearSelection()" tabindex="0" ng-keypress="onKeyPress($event)">
        <form>
            <h3>Load Order</h3>
            <section>
                <list-view items="loadOrder" list-class="checkbox-list" item-template-url="partials/loadOrderItem.html" reorderable></list-view>
            </section>

            <div class="action-button-container">
                <button class="action-btn" ng-click="loadPlugins()">OK</button>
            </div>
        </form>
    </div>
</div>
