<div class="content-title">{{merge.name}} ({{merge.filename}})
    <span class="right">
        <button class="action-btn small" ng-click="buildMerge(merge)">
            Build
        </button>
        <button class="action-btn small" ng-click="editMerge(merge)">
            Edit
        </button>
        <button class="action-btn small negative" ng-click="deleteMerge(merge)">
            Delete
        </button>
    </span>
</div>
<div class="content-container">
    <div class="merge-info">
        <div class="status-{{merge.status | classify}}">{{merge.status}}</div>
        <div class="last-built" ng-show="merge.dateBuilt">Built {{merge.dateBuilt}}</div>
    </div>

    <div class="merge-plugin-items">
        <div ng-repeat="plugin in merge.plugins" class="merge-plugin-item">
            {{::plugin.filename}}
        </div>
    </div>
</div>
