<table class="properties-table">
    <thead>
    <tr>
        <th>Key</th>
        <th>Type</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="property in schema">
        <td>{{::property.key}}
            <span ng-if="::property.optional" title="Optional">*</span>
        </td>
        <td class="nowrap" ng-if="::property.type.Constructor !== Array">
            <span class="type type-{{::property.type | classify}}">{{::property.type}}</span>
        </td>
        <td class="nowrap" ng-if="::property.type.Constructor === Array">
            <span ng-repeat="t in property.type" class="type type-{{::t | classify}}">{{::t}}</span>
        </td>
        <td marked="::property.description || '\\-'"></td>
    </tr>
    </tbody>
</table>
