<div ng-if="tabs" class="tabs-container">
    <div class="tabs-bar">
        <div ng-repeat="tab in tabs track by tab.id" class="tab" ng-class="{'active' : tab.active}" ng-mousedown="selectTab($event, $index)">
            <span class="label" title="{{tab.label}}">
                <span class="icon {{::tab.class}}-icon" title="{{::tab.class.humanize()}}"></span>
                {{tab.label}}
            </span>
            <span class="close-tab" title="Close tab (Ctrl + W)" ng-click="closeTab($index)">
                <i class="fa fa-times"></i>
            </span>
        </div>
        <div class="add-tab" title="Open a new tab (Ctrl + T)" ng-click="newTab()">
            <i class="fa fa-plus"></i>
        </div>
    </div>
    <div class="tab-view {{tab.class}}" ng-repeat="tab in tabs" ng-show="tab.active" dyn-controller="tab.controller" ng-include="tab.templateUrl"></div>
</div>
<div ng-if="panes" class="pane-container {{layout}}">
    <pane ng-repeat-start="pane in panes track by pane.id"></pane>
    <split-bar ng-repeat-end ng-if="!$last"></split-bar>
</div>