<div class="modal-container" ng-click="unfocusModal($event)">
    <div class="modal">
        <div class="close-modal" ng-if="progress.canClose" ng-click="$emit('closeModal')"></div>

        <div class="progress-title">{{progress.title}}</div>

        <div class="progress-message">{{progress.message}}</div>
        <progress-bar current="progress.current" max="progress.max"></progress-bar>

        <div ng-click="toggleExpanded()">
            <span class="expander {{expanded ? 'expanded' : 'collapsed'}}"></span>
            {{expanded ? 'Hide' : 'Show'}} Log
        </div>
        <!-- TODO: we should break this out into a log directive -->
        <div ng-if="expanded" class="log" scroll-glue vs-repeat>
            <div ng-repeat="item in progress.log" class="message-{{::item.level}}">
                {{::item.message}}
            </div>
        </div>
    </div>
</div>