<button class="icon back-record" ng-click="back()" ng-disabled="historyIndex < 1">
    <i class="fa fa-arrow-left"></i>
</button>
<button class="icon forward-record" ng-click="forward()" ng-disabled="historyIndex == history.length - 1">
    <i class="fa fa-arrow-right"></i>
</button>
<input type="text" ng-model="address" ng-keydown="onAddressKeyDown($event)" ng-focus="onAddressFocus()" ng-blur="onAddressBlur()" ng-class="{'error' : notFound}"/>
<div class="link-view">
    <span class="fa fa-link" ng-click="linkView()" title="Link view"></span>
</div>
<div class="unlink-view" ng-if="view.linkedTreeView || view.linkedReferencedByView">
    <span class="fa fa-unlink" ng-click="unlinkView()" title="Unlink view"></span>
</div>
<div class="close-bar">
    <span class="fa fa-times" ng-click="toggleAddressBar()"></span>
</div>
