<div class="nodes" tabindex="0" ng-keydown="onTreeKeyDown($event)" ng-mousedown="onTreeMouseDown($event)" vs-repeat>
    <div ng-repeat="node in tree" class="node" tree-node>
        <span ng-style="{'padding-left': (node.depth * 20 + 8 + 'px')}">
            <span class="expand-node {{node.expanded ? 'expanded' : 'collapsed'}}" ng-mousedown="toggleNode($event, node)" ng-if="node.can_expand"></span>
            <span class="placeholder" ng-if="!node.can_expand"></span>
            <input type="checkbox" ng-model="node.data.process" ng-click="toggleProcess(node)"> {{::node.name}}
            <span class="icons" ng-if="node.has_data">
                <span class="deletions-icon" ng-if="::node.data.deletions" title="Forwards child node deletions"></span>
                <span class="entity-icon" ng-if="::node.data.entity" title="Treated as a single entity"></span>
                <span class="group-icon" ng-if="::node.data.group" title="Group: {{::node.data.group}}"></span>
                <span class="priority-icon" ng-if="::node.data.priority" title="Priority: {{::node.data.priority}}"></span>
            </span>
        </span>
    </div>
</div>

<div ng-if="!tree.length" class="message" ng-mousedown="onMessageMouseDown($event)">
    There are no records to display.
</div>