<input type="text" ng-model="search" ng-keydown="onSearchKeyDown($event)" ng-class="{'error' : notFound}" ng-blur="blurSearch()"/>
<button class="icon previous-result" ng-disabled="!search.length" ng-click="previousResult()"></button>
<button class="icon next-result" ng-disabled="!search.length" ng-click="nextResult()"></button>
<span class="divider"></span>
<label>
    Search by
    <select ng-model="searchOptions.searchBy" ng-options="item for item in searchBy"></select>
</label>
<label ng-if="showExactMatch">
    <input type="checkbox" ng-model="searchOptions.exact" ng-disabled="searchOptions.disableExactMatch"/>
    Exact Match
</label>
<span ng-if="notFound" class="no-match-found">
    No match found.
</span>
<div class="close-bar">
    <span ng-click="closeSearch()">
        <i class="fa fa-times"></i>
    </span>
</div>
