<div class="modal-container" ng-click="unfocusSettingsModal($event)">
    <div class="modal">
        <div class="close-modal">
            <span class="fa fa-times" ng-click="saveSettings()"></span>
        </div>

        <div class="tabs-container">
            <div ng-repeat="tab in tabs" class="tab" ng-class="{'selected': tab.selected}" ng-click="onTabClick($event, tab)">
                {{::tab.label}}
            </div>
        </div>

        <form class="tab-contents">
            <ng-include src="currentTab.templateUrl" dyn-controller="currentTab.controller"></ng-include>

            <div class="action-button-container">
                <button class="action-btn" ng-click="saveSettings()">OK</button>
            </div>
        </form>
    </div>
</div>
