<div class="modal-container" ng-click="unfocusSettingsModal($event)">
    <div class="modal big-modal">
        <form>
            <div class="close-modal">
                <span class="fa fa-times" ng-click="saveSettings()"></span>
            </div>

            <h3>{{::profileName}} Settings</h3>

            <h4>Display</h4>
            <section>
                <div class="subsection">
                    <span class="input-label">Theme</span>
                    <input type="text" disabled value="Coming soon"/>
                    <!--<select ng-model="settings.theme" ng-options="theme as theme.name for theme in themes"></select>-->
                </div>
            </section>

            <div class="action-button-container">
                <button class="action-btn" ng-click="saveSettings()">OK</button>
            </div>
        </form>
    </div>
</div>
