edit-value-modal {
  .modal-container .modal {
    max-width: 450px;

    &.vtFlags {
      margin: 75px auto;
    }

    &.vtText {
      max-width: 600px;
    }
  }

  h2 .path {
    font-size: 12px;
    font-weight: normal;
    margin-top: 4px;
  }

  input {
    width: 100%;
    
    &.numeric {
      padding: 2px 4px;
      font-size: 16px;
      width: 100px;
    }
  }

  textarea {
    width: 100%;
    min-height: 150px;
  }

  select {
    font-size: 16px;
  }

  .hexeditor {
    font-family: 'Courier New', 'Consolas', monospace;
    border-collapse: collapse;
    border: 1px solid #aaa;
    margin: 0 auto;

    th {
      padding: 2px 6px;
    }

    th, td {
      border-right: 1px solid #aaa;
    }

    tr {
      border-bottom: 1px solid #aaa;
    }

    .hex, .text {
      font-size: 15px;
      line-height: 20px;
    }

    .hex {
      padding-right: 10px;
      min-width: 100px;
    }

    .text {
      padding-left: 4px;
      min-width: 100px;
    }

    .hex > span {
      padding: 1px 4px;
      white-space: pre;

      &:hover {
        background: #dae4ea;
      }

      &:focus {
        background: #6b9aba;
        color: #fff;
        outline: none;
      }
    }
  }

  .checkbox-list {
    .selected {
      background-color: #e5f2ff;
    }

    input {
      width: initial;
    }
  }

  .color-sample {
    width: 50px;
    height: 19px;
    position: absolute;
    margin: 1px;
  }

  .angular-color-picker {
    margin: 10px auto;
    display: block;
    width: 282px;

    > ._variations > ._whites > ._blacks > ._cursor {
      width: 12px;
      height: 12px;
      border: 2px solid #fff;
      box-shadow: 0 0 5px -1px;
      border-radius: 6px;
    }

    > ._hues > ._cursor {
      left: -3px;
      width: 34px;
    }
  }

  .color-input-container {
    width: 200px;
    margin: 0 auto;

    input {
      padding-left: 52px;
    }
  }
}