loader {
  color: $inverse_font_color;

  .modal-container {
    background-color: rgba($shadow, 0.6);

    .modal {
      background: none;
      box-shadow: none;
      max-width: 900px;
    }
  }

  .loading-content {
    margin-top: 16px;
    font-size: 24px;
    text-align: center;
  }

  .action-btn {
    margin-left: 10px;
  }
}
