progress-bar {
  display: block;
  position: relative;
  width: 100%;
  height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: $soft_border;
  box-shadow: inset 0 1px 2px $medium_border;
  border-radius: 4px;

  .progress {
    float: left;
    height: 100%;
    background-color: $secondary_action;
    transition: width .6s ease;

    &.complete {
      background-color: $positive;
    }

    &.error {
      background-color: $negative;
    }
  }

  .progress-label {
    position: absolute;
    left: 50%;
    width: 100px;
    margin-left: -50px;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: $inverse_font_color;
    text-shadow: 1px 1px 2px $font_color, 0 0 4px $font_color;
  }
}
