search-bar {
  display: flex;
  margin-top: -24px;
  margin-bottom: 24px;
  padding: 3px 2px;
  border-bottom: 1px solid $medium_border;
  align-items: center;

  input[type="text"] {
    margin-left: 2px;
    padding: 1px 3px;
    border-radius: 5px;
    border: 1px solid $medium_border;
    -webkit-transition: background 2.0s ease-in-out;

    &:focus {
      outline: none;
      box-shadow: 0 0 2px $secondary_action;
      border-color: $secondary_action;
    }

    &.error {
      background-color: rgba(255, 0, 0, 0.15);
      -webkit-transition: none;
    }
  }

  > button {
    color: $secondary_action;
  }

  .previous-result {
    margin-left: 4px;
  }

  .next-result {
    margin-right: 8px;
  }

  > label {
    padding: 0 4px;
  }

  > select {
    min-width: 85px;
  }

  .no-match-found {
    color: $negative;
    margin-left: 12px;
  }

  .close-bar {
    flex-grow: 1;
    text-align: right;
    padding-right: 4px;

    > span {
      cursor: pointer;
    }
  }
}