.tree-nodes {
  display: block;
  padding-bottom: 4px;
  flex: 1;

  &:focus {
    outline: none;
  }

  .node {
    display: flex;
    white-space: nowrap;
    height: 20px;

    &.selected {
      background-color: #e5f2ff;
    }

    .expand-node {
      margin-right: 8px;
      display: inline-block;
      font: 14px FontAwesome;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      position: relative;
      color: #000;

      &::before {
        content: ' ';
        width: 9px;
        height: 9px;
        display: block;
        position: absolute;
        top: 2px;
        right: 1px;
        background: #fff;
      }

      &.expanded::after {
        content: "\f147";
        position: relative;
      }

      &.collapsed::after {
        content: "\f196";
        position: relative;
      }
    }

    .placeholder {
      padding-left: 22px;
    }

    .column {
      text-overflow: ellipsis;
      overflow: hidden;
      padding: 2px 6px;
      border-right: 1px solid #f8f8f8;
      border-top: 1px solid #f8f8f8;

      &:last-of-type {
        border-right: none;
        flex: 1;
      }
    }
  }

  .vs-repeat-after-content {
    border-top: 1px solid #f8f8f8;
  }
}