.tree-columns {
  display: flex;
  border-bottom: 1px solid #aaa;
  margin-top: -24px;
  position: relative;

  > split-bar {
    width: 5px;
    margin: 0 -2px;
    cursor: col-resize;

    .bar {
      border-left: 1px solid #888;
      height: 100%;
      position: absolute;
      left: 2px;
      top: 0;
    }
  }

  .column {
    padding: 4px 8px;
    position: relative;

    &:last-of-type {
      flex: 1;
      border-right: 1px solid #aaa;
    }

    &.sortable {
      &:hover {
        background-color: aliceblue;
      }
    }

    .sort-arrow {
      margin-left: 6px;
    }
  }

  .column-action {
    font: 16px FontAwesome;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    padding: 3px 6px 4px;

    &:hover {
      color: crimson;
    }
  }
}