.tree-nodes {
  display: block;
  height: 100%;
  padding-bottom: 4px;

  &:focus {
    outline: none;
  }

  .node {
    display: flex;
    white-space: nowrap;
    border-top: 1px solid #f8f8f8;
    height: 20px;

    &.selected {
      background-color: #e5f2ff;
    }

    .expand-node {
      margin-right: 8px;
      display: inline-block;
      font: 14px FontAwesome;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;

      &.expanded::before {
        content: "\f147";
      }

      &.collapsed::before {
        content: "\f196";
      }
    }

    .placeholder {
      padding-left: 21px;
    }

    .column {
      text-overflow: ellipsis;
      overflow: hidden;
      padding: 2px 6px;
      border-right: 1px solid #f8f8f8;

      &:last-of-type {
        border: none;
        flex: 1;
      }
    }
  }

  .vs-repeat-after-content {
    border-top: 1px solid #f8f8f8;
  }
}