.edit-value-modal {
  .modal-container .modal {
    max-width: 450px;

    &.vtFlags {
      margin: 75px auto;
    }

    &.vtText {
      max-width: 600px;
    }

    &.vtReference {
      max-width: 600px;
    }
  }

  h2 .path {
    font-size: 12px;
    font-weight: normal;
    margin-top: 4px;
  }

  input[type="text"] {
    padding: 2px;
    width: 100%;

    &.numeric {
      padding: 2px 4px;
      font-size: 16px;
      width: 100px;
    }
  }

  textarea {
    width: 100%;
    min-height: 150px;
    padding: 4px;
    font-family: 'Roboto', sans-serif;
  }

  select {
    font-size: 16px;
  }

  .hexeditor {
    @include monospace;
    border-collapse: collapse;
    border: 1px solid $medium_border;
    margin: 0 auto;

    th {
      padding: 2px 6px;
    }

    th, td {
      border-right: 1px solid $medium_border;
    }

    tr {
      border-bottom: 1px solid $medium_border;
    }

    .hex, .text {
      font-size: 15px;
      line-height: 20px;
    }

    .hex {
      padding-right: 10px;
      min-width: 100px;
    }

    .text {
      padding-left: 4px;
      min-width: 100px;
    }

    .hex > span {
      padding: 1px 4px;
      white-space: pre;

      &:hover {
        background: $secondary_background;
      }

      &:focus {
        background: $strong_selected;
        color: $inverse_font_color;
        outline: none;
      }
    }
  }

  autocomplete-input {
    flex: 1;

    .dropdown {
      width: 440px;
      font-size: 13px;
    }
  }

  .reference-selector{
    display: flex;
    align-content: stretch;

    select {
      margin-right: 6px;
    }
  }

  .color-sample {
    width: 50px;
    height: 21px;
    position: absolute;
    margin: 1px;
  }

  .angular-color-picker {
    margin: 10px auto;
    display: block;
    width: 282px;

    > ._variations > ._whites > ._blacks > ._cursor {
      width: 12px;
      height: 12px;
      border: 2px solid #fff;
      box-shadow: 0 0 5px -1px;
      border-radius: 6px;
    }

    > ._hues > ._cursor {
      left: -3px;
      width: 34px;
      border-left-color: #303030;
      border-right-color: #303030;
    }
  }

  .color-input-container {
    width: 200px;
    margin: 0 auto;

    input {
      padding-left: 52px;
    }
  }
}
