.main-tree-view {
  text-align: left;
  font-size: 13px;
  overflow: hidden;
  user-select: none;
  padding-top: 24px;

  .tree-nodes {
    min-width: 400px;
    padding-right: 16px;
    overflow-y: scroll;

    .column {
      min-width: 100px;
    }
  }

  .edit-columns {
    right: 18px;

    &::before {
      content: "\f0db";
    }
  }
}