.main-tree-view {
  text-align: left;
  font-size: 13px;
  overflow: hidden;
  user-select: none;
  padding-top: 24px;

  .columns {
    display: flex;
    border-bottom: 1px solid #aaa;
    margin-top: -24px;
    padding-right: 16px;

    > span {
      padding: 4px 8px;
      border-right: 1px solid #aaa;
      min-width: 100px;

      &:last-of-type {
        flex: 1;
      }
    }
  }

  .tree {
    min-width: 400px;
    height: 100%;
    padding-bottom: 4px;
    overflow-y: scroll;

    &:focus {
      outline: none;
    }
  }
}

main-tree-node {
  display: block;

  .expand-node {
    margin-right: 8px;
  }

  .placeholder {
    padding-left: 21px;
  }

  .column {
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 2px 6px;
    border-right: 1px solid #f8f8f8;

    &:last-of-type {
      border: none;
      flex: 1;
    }
  }

  .body {
    display: flex;
    white-space: nowrap;
    border-top: 1px solid #f8f8f8;

    &.selected {
      background-color: aliceblue;
    }
  }
}

.clusterize-content {
  &:focus {
    outline: none;
  }
}

// TEMPORARY HARDCODED COLUMN CLASSES
.column-0 {
  width: 300px;
}

.column-1 {
  width: 200px;
}