ui-view {
  display: block;
  height: calc(100% - 42px);
}

.content,.viewport {
  height: 100%;
}

.viewport > pane {
  height: 100%;
}

.pane-container {
  display: flex;
  height: 100%;

  &.horizontal {
    flex-direction: row;

    > split-bar {
      width: 5px;
      margin: 0 -2px;
      cursor: col-resize;

      .bar {
        border-left: 1px solid #888;
        height: 100%;
      }
    }

    > pane {
      height: 100%;
    }
  }

  &.vertical {
    flex-direction: column;

    > split-bar {
      height: 5px;
      margin: -2px 0;
      cursor: row-resize;

      .bar {
        border-top: 1px solid #888;
        width: 100%;
        position: absolute;
        left: 0;
        top: 2px;
      }
    }
  }

  pane:last-of-type {
    flex: 1;
  }
}

pane {
  display: block;
  min-width: 140px;
  min-height: 100px;
  max-height: 100%;
  max-width: 100%;
}

split-bar {
  position: relative;
  z-index: 1;

  .bar {
    display: inline-block;
    cursor: inherit;
  }
}

.tabs-container {
  height: 100%;

  .tabs-bar {
    display: flex;
    border-bottom: 1px solid #000;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 5px;

    .tab {
      min-width: 120px;
      border-right: 1px solid #000;
      background-color: #ddd;
      user-select: none;

      .label {
        display: inline-block;
        padding-top: 2px;
      }

      .close-tab {
        cursor: pointer;
        float: right;
        margin: 2px 4px 2px 0;
        padding: 1px;
        color: crimson;
        line-height: initial;
      }

      &.active {
        border-bottom: 1px solid #fff;
        margin-bottom: -1px;
        background-color: #fff;
      }
    }

    .add-tab {
      margin: 2px 6px -2px;
      cursor: pointer;
    }
  }

  .tab-view {
    height: calc(100% - 29px);
    display: flex;
    flex-direction: column;
  }
}

.message-container {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  margin-top: -24px;
  padding: 40px;

  .pane-message {
    text-align: center;
    font-size: 20px;
  }
}