.main-tree-view {
  text-align: left;
  font-size: 13px;
  overflow: hidden;
  user-select: none;
  padding-top: 24px;

  .columns {
    display: flex;
    border-bottom: 1px solid #aaa;
    margin-top: -24px;
    padding-right: 16px;
    position: relative;

    > split-bar {
      width: 5px;
      margin: 0 -2px;
      cursor: col-resize;

      .bar {
        border-left: 1px solid #888;
        height: 100%;
        position: absolute;
        left: 2px;
        top: 0;
      }
    }

    .column {
      padding: 4px 8px;
      min-width: 100px;

      &:last-of-type {
        flex: 1;
        border-right: 1px solid #aaa;
      }

      &.sortable {
        &:hover {
          background-color: aliceblue;
        }
      }

      .sort-arrow {
        margin-left: 6px;
      }
    }

    .edit-columns {
      font-size: 16px;
      cursor: pointer;
      position: absolute;
      right: 16px;
      padding: 2px 8px;

      &:hover {
        color: crimson;
      }
    }
  }

  .tree {
    min-width: 400px;
    height: 100%;
    padding-bottom: 4px;
    overflow-y: scroll;

    &:focus {
      outline: none;
    }
  }
}

.main-tree-node {
  display: flex;
  white-space: nowrap;
  border-top: 1px solid #f8f8f8;
  height: 20px;

  &.selected {
    background-color: aliceblue;
  }

  .expand-node {
    margin-right: 8px;
  }

  .placeholder {
    padding-left: 21px;
  }

  .column {
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 2px 6px;
    border-right: 1px solid #f8f8f8;

    &:last-of-type {
      border: none;
      flex: 1;
    }
  }
}