progress-modal {
  .modal-container .modal {
    max-width: 800px;
  }

  .progress-title {
    font-size: 18px;
    margin-bottom: 16px;
  }

  .log {
    user-select: initial;
    height: 300px;
    border: 1px solid $hard_border;
    background-color: $background_tint;
    padding: 4px 0 20px;
    margin-top: 4px;
    font-size: 13px;
    overflow-y: auto;

    > div {
      padding: 1px 6px;
      white-space: pre-wrap;
    }
  }

  .warn-message {
    color: $neutral;
  }

  .error-message {
    color: $negative;
  }
}