.record-tree-view {
  text-align: left;
  font-size: 13px;
  overflow: hidden;
  user-select: none;
  padding-top: 24px;

  .tree-nodes {
    overflow-y: scroll;

    .node.element-unassigned {
      color: #aaa;
      background-color: #fff;
    }
  }

  .expand-all-nodes {
    right: 20px;

    &::before {
      content: "\f0fe";
    }
  }

  .collapse-all-nodes {
    padding-left: 4px;

    &::before {
      content: "\f146";
    }
  }

  .tree-columns, .node {
    .column:last-of-type {
      border: 0;
      flex: 0;
    }
  }

  .column-wrapper {
    overflow-x: scroll;
    white-space: nowrap;
    margin-top: -24px;
    width: calc(100% - 17px);

    .tree-columns {
      margin-top: 0;
    }

    .column-0 {
      z-index: 2;
    }

    .first-split-bar {
      position: sticky;
      z-index: 3;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .column-0 {
    position: sticky;
    left: 0;
    background-color: #fff;
  }

  .column.modified {
    font-weight: 600;
  }

  .node.selected {
    .column.focused {
      border: 1px dashed #808080;
      padding: 1px 5px;
    }
  }

  .node.selected:not(.element-unassigned) .column-0 {
    background-color: #e5f2ff;
  }
}

.node {
  .column:hover {
    .action-buttons {
      opacity: 1.0;
    }
  }

  .action-buttons {
    opacity: 0;
    -webkit-transition: opacity 0.1s ease-in-out;
    margin-left: -4px;

    .add-element {
      color: darkblue;
      cursor: pointer;
      padding: 1px 4px;
    }

    .remove-element {
      color: crimson;
      cursor: pointer;
      padding: 1px 4px;
    }
  }
}