.record-view {
  text-align: left;
  font-size: 13px;
  overflow: hidden;
  padding-top: 24px;

  &.drag-over {
    outline: auto;
    outline-color: $secondary_action;
  }

  .nodes {
    overflow-y: scroll;

    .node.element-unassigned {
      color: $medium_border;
      background-color: $background;
    }
  }

  .expand-all-nodes {
    right: 20px;

    &::before {
      content: "\f0fe";
    }
  }

  .collapse-all-nodes {
    padding-left: 4px;

    &::before {
      content: "\f146";
    }
  }

  .column-wrapper {
    border-bottom: 1px solid $medium_border;
    overflow-x: scroll;
    white-space: nowrap;
    margin-top: -24px;

    .node-columns {
      margin-top: 0;
      border: none;

      .column:last-of-type {
        flex: 0;
      }
    }

    .column-0 {
      z-index: 2;
    }

    .column.focused:not(.column-0) {
      background-color: $selected;
    }

    .first-split-bar {
      position: sticky;
      z-index: 3;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    &:first-child {
      border-top: 1px solid $medium_border;
    }
  }

  .column-0 {
    position: sticky;
    left: 0;
    background-color: $background;
  }

  .column.modified {
    font-weight: 600;
  }

  .node.selected {
    .column.focused {
      border: 1px dashed $hard_border;
      padding: 2px 5px 1px;
    }
  }

  .node.selected:not(.element-unassigned) .column-0 {
    background-color: $selected;
  }
}

.node {
  .column:hover {
    .action-buttons {
      opacity: 1.0;
    }
  }

  .column.dragover {
    box-shadow: 0 0 4px 2px $secondary_action;
    position: relative;
    z-index: 2;
  }

  .action-buttons {
    opacity: 0;
    -webkit-transition: opacity 0.1s ease-in-out;
    margin-left: -4px;
  }

  .column.highlight-reference {
      text-decoration: underline;
      cursor: pointer;
  }
}

.record-view-icon {
  &::before {
    content: "\f0ce";
  }
}
