.settings-modal {
  .modal-container .modal {
    margin: 100px auto;
  }

  ng-include.flex {
    display: flex;
    flex-direction: column;
  }

  .theme-metadata {
    padding-left: 20px;
    font-size: 15px;

    .theme-description {
      margin-top: 4px;
      max-width: 400px;
    }
  }

  .syntax-theme-preview {
    .CodeMirror {
      height: 200px;
    }
  }
}
