.start-pane {
  width: 27.5%;
  min-width: 500px;
  padding: 0 32px 50px;
  background: rgba($background, 0.8);
}

.secondary-actions {
  padding: 0 14px;

  button.text {
    margin-top: 7px;
    padding: 0 6px;
  }
}

.image-controls {
  position: absolute;
  top: 50px;
  right: 14px;
  font-size: 14px;

  .fa {
    text-shadow: 0 1px 3px $modal_shadow;
  }
}

.image-by {
  position: absolute;
  bottom: 8px;
  right: 14px;
  font-size: 14px;
  font-weight: 600;

  a {
    text-shadow: 0 1px 1px $modal_shadow, 0 1px 2px $modal_shadow;
  }
}
