.game-logo-container {
  padding: 8px;
}

.appmode-select {
  margin: 0.67em 0;
  padding: 2px 40px 2px 8px;
  border-color: $soft_font_color;
  font-size: 2em;
  font-weight: bold;

  @include dropdown-triangle(10px);
}

.profile-controls {
  select, span {
    display: inline-block;
    vertical-align: middle;
  }

  span.fa {
    margin-left: 4px;
    font-size: 30px;
    cursor: pointer;
  }

  select {
    min-width: 140px;
    padding: 4px;
    padding-right: 35px;
    border-color: $soft_font_color;
    font-size: 20px;

    @include dropdown-triangle(10px);
  }
}

.app-version {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 4px 6px;
  font-size: 12px;
}
