.tree-view {
  text-align: left;
  font-size: 13px;
  overflow: hidden;
  padding-top: 24px;

  .node-columns {
    padding-right: 16px;

    .column:last-of-type {
      border-right: 1px solid $medium_border;
    }
  }

  .nodes {
    min-width: 400px;
    overflow-y: scroll;

    .column {
      min-width: 100px;

      &:last-of-type {
        flex: 1;
        border-right: none;
      }
    }

    .modified {
      font-weight: 600;
    }
  }

  .edit-columns {
    right: 17px;

    &::before {
      content: "\f0db";
    }
  }
}

.tree-view-icon {
  &::before {
    content: "\f0e8";
  }
}
