/*{
    "name": "Day",
    "author": "Mator",
    "version": "1.0",
    "released": "8/31/2017",
    "updated": "9/3/2017",
    "description": "A plain white theme with turqoise-blue buttons.  This is the original zEdit theme.",
    "syntaxTheme": ""
  }*/
$background: #fff;
$background_tint: #f2f3f4;
$soft_border: #f8f8f8;
$medium_soft_border: #cdcdcd;
$medium_border: #aaa;
$hard_border: #888;
$shadow: #000;
$modal_shadow: #000;
$selected: #e5f2ff;
$strong_selected: #6b9aba;
$font_color: #000;
$medium_font_color: #555;
$soft_font_color: #888;
$inverse_font_color: #fff;
$negative: crimson;
$neutral: #eeaa00;
$positive: green;
$action: #53b6bf;
$action_hover: #4d5e6b;
$action_disabled: #555;
$secondary_action: dodgerblue;

// conflict colors
$base: #000;
$very_soft: #C0C0C0;
$soft: #A4A0A0;
$medium: #808080;
$purple: #800080;
$green: #008000;
$olive: #808000;
$orange: #FF8040;
$red: #F00;
$lime: #0F0;
$yellow: #FF0;
$fuschia: #F0F;
$transparency: 0.15;

@import '../app.scss';
