/*{
    "name": "Day",
    "author": "Mator",
    "version": "1.0",
    "released": "8/31/2017",
    "updated": "6/21/2019",
    "description": "A plain white theme with turqoise-blue buttons.  This is the original zEdit theme.",
    "syntaxTheme": ""
  }*/
$background: #fff;
$secondary_background: #f2f3f4;
$background_tint: aliceblue;
$soft_border: #f8f8f8;
$medium_soft_border: #cdcdcd;
$medium_border: #aaa;
$hard_border: #888;
$shadow: #000;
$modal_shadow: #000;
$selected: #e5f2ff;
$strong_selected: #6b9aba;
$font_color: #383838;
$medium_font_color: #555;
$soft_font_color: #888;
$action_font_color: #fff;
$negative: #be1424;
$negative_hover: #9b1423;
$neutral: #ffb725;
$neutral_hover: #c38923;
$positive: #008100;
$positive_hover: #006900;
$strong_action: #80ccff;
$action: #53a5c9;
$action_hover: #456573;
$action_font_color: #fff;
$action_disabled: #555;
$secondary_action: #0aa4ff;

// conflict colors
$base: #000;
$very_soft: #C0C0C0;
$soft: #A4A0A0;
$medium: #808080;
$purple: #800080;
$green: #008000;
$olive: #808000;
$orange: #FF8040;
$red: #F00;
$lime: #0F0;
$yellow: #FF0;
$fuschia: #F0F;
$transparency: 0.15;

@import '../app.scss';
