/*{
    "name": "Night",
    "author": "Mator",
    "version": "1.0",
    "released": "9/5/2017",
    "updated": "9/5/2017",
    "description": "A dark, nearly black theme with soft blue buttons.",
    "syntaxTheme": "seti"
  }*/
$background: #222;
$secondary_background: #303036;
$background_tint: #22242A;
$soft_border: #333;
$medium_soft_border: #383838;
$medium_border: #555;
$hard_border: #777;
$shadow: #AAA;
$modal_shadow: #000;
$selected: #22223A;
$strong_selected: #456594;
$font_color: #CCC;
$medium_font_color: #999;
$soft_font_color: #555;
$inverse_font_color: #000;
$negative: #FF5555;
$neutral: #FFFF55;
$positive: #55CC55;
$strong_action: #3039AC;
$action: #6069CC;
$action_hover: #94A1B2;
$action_disabled: #AAA;
$secondary_action: #228FFF;

// conflict colors
$base: #DCDCDC;
$very_soft: #C0C0C0;
$soft: #A4A0A0;
$medium: #909090;
$purple: #B030B0;
$green: #30B030;
$olive: #B0B030;
$orange: #FFB060;
$red: #F33;
$lime: #3F3;
$yellow: #FF3;
$fuschia: #F3F;
$transparency: 0.05;

@import '../app.scss';

@include style-scrollbars(#333, #444, #666, #999);

// fix loader text color
loader {
  color: $font_color !important;
}
