<expandable-section ng-if="merge.plugins.length">
    <title>Plugin Data Folders ({{merge.plugins.length}})</title>
    <content>
        <div class="data-folder-item" ng-repeat="plugin in merge.plugins">
            <span class="input-label">{{::plugin.filename}}</span>
            <input type="text" ng-model="plugin.dataFolder" ng-blur="setDataFolder(plugin)" />
            <span class="browse-button" ng-click="browseDataFolder(plugin)" title="Browse"></span>
        </div>
    </content>
</expandable-section>

<div ng-show="noAssets" class="content-message">
    No data files were found for this merge.
</div>

<expandable-section ng-if="merge.archives.length">
    <title>Bethesda Archives ({{merge.archives.length}})</title>
    <content>
        <label>
            <input type="checkbox" ng-model="merge.extractArchives"/>
            Extract Archives
        </label>
        <label>
            <input type="checkbox" ng-model="merge.buildArchive"/>
            Build Merged Archive
        </label>

        <div class="table-container">
            <table class="files-table">
                <thead>
                <tr>
                    <th>File</th>
                    <th>File Size</th>
                    <th>Associated Plugin</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="archive in merge.archives">
                    <td title="{{::archive.filePath}}">{{::archive.filename}}</td>
                    <td>{{::archive.fileSize | bytes}}</td>
                    <td>{{::archive.plugin}}</td>
                    <td>
                        <select ng-model="archive.action">
                            <option ng-show="merge.extractArchives">Extract</option>
                            <option ng-show="merge.buildArchive">Merge</option>
                            <option>Copy</option>
                            <option>Ignore</option>
                        </select>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </content>
</expandable-section>

<expandable-section ng-if="merge.faceDataFiles.length">
    <title>NPC Face Data ({{merge.faceDataFiles.length}})</title>
    <content>
        <label>
            <input type="checkbox" ng-model="merge.handleFaceData"/>
            Handle NPC Face Data
        </label>

        <div class="table-container">
            <table class="files-table">
                <thead>
                <tr>
                    <th>Plugin</th>
                    <th>File</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="file in merge.faceDataFiles">
                    <td title="{{::file.npc}}">{{::file.plugin}}</td>
                    <td>{{::file.filePath}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </content>
</expandable-section>

<expandable-section ng-if="merge.voiceDataFiles.length">
    <title>NPC Voice Data ({{merge.voiceDataFiles.length}})</title>
    <content>
        <label>
            <input type="checkbox" ng-model="merge.handleVoiceData"/>
            Handle NPC Voice Data
        </label>

        <div class="table-container">
            <table class="files-table">
                <thead>
                <tr>
                    <th>Plugin</th>
                    <th>File</th>
                </tr>
                </thead>
                <tbody vs-repeat vs-scroll-parent=".table-container">
                <tr ng-repeat="file in merge.voiceDataFiles">
                    <td title="{{::file.npc}}">{{::file.plugin}}</td>
                    <td>{{::file.filePath}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </content>
</expandable-section>

<expandable-section ng-if="merge.billboardFiles.length">
    <title>LOD Billboards ({{merge.billboardFiles.length}})</title>
    <content>
        <label>
            <input type="checkbox" ng-model="merge.handleBillboards"/>
            Handle LOD Billboards
        </label>

        <div class="table-container">
            <table class="files-table">
                <thead>
                <tr>
                    <th>Plugin</th>
                    <th>File</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="file in merge.billboardFiles">
                    <td>{{::file.plugin}}</td>
                    <td>{{::file.filePath}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </content>
</expandable-section>

<expandable-section ng-if="merge.scriptFragments.length">
    <title>Script Fragments ({{merge.scriptFragments.length}})</title>
    <content>
        <label>
            <input type="checkbox" ng-model="merge.handleScriptFragments"/>
            Handle Script Fragments
        </label>

        <div class="table-container">
            <table class="files-table">
                <thead>
                <tr>
                    <th>Plugin</th>
                    <th>File</th>
                    <th>Record</th>
                </tr>
                </thead>
                <tbody vs-repeat vs-scroll-parent=".table-container">
                <tr ng-repeat="fragment in merge.scriptFragments">
                    <td>{{::fragment.plugin}}</td>
                    <td>{{::fragment.filePath}}</td>
                    <td>{{::fragment.record}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </content>
</expandable-section>

<expandable-section ng-if="merge.stringFiles.length">
    <title>String Files ({{merge.stringFiles.length}})</title>
    <content>
        <label>
            <input type="checkbox" ng-model="merge.handleStringFiles"/>
            Handle String Files
        </label>

        <div class="table-container">
            <table class="files-table">
                <thead>
                <tr>
                    <th>Plugin</th>
                    <th>File</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="file in merge.stringFiles">
                    <td>{{::file.plugin}}</td>
                    <td>{{::file.filePath}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </content>
</expandable-section>

<expandable-section ng-if="merge.translations.length">
    <title>MCM Translations ({{merge.translations.length}})</title>
    <content>
        <label>
            <input type="checkbox" ng-model="merge.handleTranslations"/>
            Handle MCM Translations
        </label>

        <div class="table-container">
            <table class="files-table">
                <thead>
                <tr>
                    <th>Plugin</th>
                    <th>File</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="file in merge.translations">
                    <td>{{::file.plugin}}</td>
                    <td>{{::file.filePath}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </content>
</expandable-section>

<expandable-section ng-if="merge.iniFiles.length">
    <title>INI Files ({{merge.iniFiles.length}})</title>
    <content>
        <label>
            <input type="checkbox" ng-model="merge.handleIniFiles"/>
            Handle INI Files
        </label>

        <div class="table-container">
            <table class="files-table">
                <thead>
                <tr>
                    <th>Plugin</th>
                    <th>File</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="file in merge.iniFiles">
                    <td>{{::file.plugin}}</td>
                    <td>{{::file.filePath}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </content>
</expandable-section>

<expandable-section ng-if="canCopyGeneralAssets">
    <title>General Assets ({{merge.generalAssets.length}})</title>
    <content>
        <label>
            <input type="checkbox" ng-model="merge.copyGeneralAssets"/>
            Copy General Assets
        </label>

        <div class="table-container">
            <table class="files-table">
                <thead>
                <tr>
                    <th>Plugin(s)</th>
                    <th>File</th>
                </tr>
                </thead>
                <tbody vs-repeat vs-scroll-parent=".table-container">
                <tr ng-repeat="file in merge.generalAssets">
                    <td>{{::file.plugins.join(', ')}}</td>
                    <td>{{::file.filePath}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </content>
</expandable-section>
