<expandable-section class="asset-section" ng-if="merge.plugins.length">
    <title>Plugin Data Folders ({{merge.plugins.length}})</title>
    <content>
        <div class="data-folder-item" ng-repeat="plugin in merge.plugins">
            <span class="input-label" title="{{::plugin.filename}}">{{::plugin.filename}}</span>
            <input type="text" ng-model="plugin.dataFolder" ng-blur="setDataFolder(plugin)" />
            <span class="browse-button" ng-click="browseDataFolder(plugin)" title="Browse"></span>
        </div>
    </content>
</expandable-section>

<div ng-show="noAssets" class="content-message">
    No data files were found for this merge.
</div>

<expandable-section class="asset-section" ng-if="merge.archives.length">
    <title>Bethesda Archives ({{merge.archives.length}})</title>
    <content>
        <label>
            Archive Action
            <select ng-model="merge.archiveAction">
                <option>Extract</option>
                <option ng-if="false">Merge</option>
                <option>Copy</option>
                <option>Ignore</option>
            </select>
        </label>

        <div class="table-container">
            <table class="files-table">
                <thead>
                <tr>
                    <th>File</th>
                    <th>File Size</th>
                    <th>Associated Plugin</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="archive in merge.archives">
                    <td title="{{::archive.filePath}}">{{::archive.filename}}</td>
                    <td>{{::archive.fileSize | bytes}}</td>
                    <td>{{::archive.plugin}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </content>
</expandable-section>

<expandable-section class="asset-section" ng-if="merge.faceData.length">
    <title>NPC Face Data</title>
    <content>
        <label>
            <input type="checkbox" ng-model="merge.handleFaceData"/>
            Handle NPC Face Data
        </label>

        <expandable-section class="assets-list-section" ng-repeat="entry in merge.faceData">
            <title>{{::entry.plugin}} ({{::entry.assets.length}} assets)</title>
            <content>
                <div class="assets-list" vs-repeat>
                    <div ng-repeat="asset in entry.assets" title="{{::asset.npc}}">
                        {{::asset.filePath}}
                    </div>
                </div>
            </content>
        </expandable-section>
    </content>
</expandable-section>

<expandable-section class="asset-section" ng-if="merge.voiceData.length">
    <title>NPC Voice Data</title>
    <content>
        <label>
            <input type="checkbox" ng-model="merge.handleVoiceData"/>
            Handle NPC Voice Data
        </label>

        <expandable-section class="assets-list-section" ng-repeat="entry in merge.voiceData">
            <title>{{::entry.plugin}} ({{::entry.assets.length}} assets)</title>
            <content>
                <div class="assets-list" vs-repeat>
                    <div ng-repeat="asset in entry.assets" title="{{::asset.dialogue}}">
                        {{::asset.filePath}}
                    </div>
                </div>
            </content>
        </expandable-section>
    </content>
</expandable-section>

<expandable-section class="asset-section" ng-if="merge.billboards.length">
    <title>LOD Billboards</title>
    <content>
        <label>
            <input type="checkbox" ng-model="merge.handleBillboards"/>
            Handle LOD Billboards
        </label>

        <expandable-section class="assets-list-section" ng-repeat="entry in merge.billboards">
            <title>{{::entry.plugin}} ({{::entry.assets.length}} assets)</title>
            <content>
                <div class="assets-list" vs-repeat>
                    <div ng-repeat="asset in entry.assets">
                        {{::asset.filePath}}
                    </div>
                </div>
            </content>
        </expandable-section>
    </content>
</expandable-section>

<expandable-section class="asset-section" ng-if="merge.scriptFragments.length">
    <title>Script Fragments</title>
    <content>
        <label>
            <input type="checkbox" ng-model="merge.handleScriptFragments"/>
            Handle Script Fragments
        </label>

        <expandable-section class="assets-list-section" ng-repeat="entry in merge.scriptFragments">
            <title>{{::entry.plugin}} ({{::entry.assets.length}} assets)</title>
            <content>
                <div class="assets-list" vs-repeat>
                    <div ng-repeat="asset in entry.assets" title="{{::asset.record}}">
                        {{::asset.filePath}}
                    </div>
                </div>
            </content>
        </expandable-section>
    </content>
</expandable-section>

<expandable-section class="asset-section" ng-if="merge.stringFiles.length">
    <title>String Files ({{merge.stringFiles.length}})</title>
    <content>
        <label>
            <input type="checkbox" ng-model="merge.handleStringFiles"/>
            Handle String Files
        </label>

        <div class="table-container">
            <table class="files-table">
                <thead>
                <tr>
                    <th>Plugin</th>
                    <th>File</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="file in merge.stringFiles">
                    <td>{{::file.plugin}}</td>
                    <td>{{::file.filePath}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </content>
</expandable-section>

<expandable-section class="asset-section" ng-if="merge.translations.length">
    <title>MCM Translations ({{merge.translations.length}})</title>
    <content>
        <label>
            <input type="checkbox" ng-model="merge.handleTranslations"/>
            Handle MCM Translations
        </label>

        <div class="table-container">
            <table class="files-table">
                <thead>
                <tr>
                    <th>Plugin</th>
                    <th>File</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="file in merge.translations">
                    <td>{{::file.plugin}}</td>
                    <td>{{::file.filePath}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </content>
</expandable-section>

<expandable-section class="asset-section" ng-if="merge.iniFiles.length">
    <title>INI Files ({{merge.iniFiles.length}})</title>
    <content>
        <label>
            <input type="checkbox" ng-model="merge.handleIniFiles"/>
            Handle INI Files
        </label>

        <div class="assets-list">
            <div ng-repeat="file in merge.iniFiles">{{::file.filePath}}</div>
        </div>
    </content>
</expandable-section>

<expandable-section class="asset-section" ng-if="merge.generalAssets.length">
    <title>General Assets</title>
    <content>
        <label>
            <input type="checkbox" ng-model="merge.copyGeneralAssets"/>
            Copy General Assets
        </label>

        <expandable-section class="assets-list-section" ng-repeat="entry in merge.generalAssets">
            <title>{{::entry.folder}} ({{::entry.assets.length}} assets)</title>
            <content>
                <div class="assets-list" vs-repeat>
                    <div ng-repeat="asset in entry.assets">{{::asset.filePath}}</div>
                </div>
            </content>
        </expandable-section>
    </content>
</expandable-section>
