<section>
    <label>
        <span class="input-label">Name</span>
        <input type="text" ng-model="merge.name" />
    </label>
    <label ng-show="merge.method !== 'Master'">
        <span class="input-label">Filename</span>
        <input type="text" ng-model="merge.filename" />
    </label>
    <span class="neutral-fg" ng-if="pluginExists">A plugin with this filename already exists, it will be backed up once the merge is built.</span>
    <label>
        <span class="input-label">Merge Method</span>
        <select ng-model="merge.method">
            <option value="Clean">Clean - Merge down (improved)</option>
            <option value="Clobber">Clobber - Merge down (old)</option>
            <option value="Master" ng-if="experimental">Master - Merge up (version control)</option>
        </select>
    </label>
</section>
