<section>
    <label>
        <span class="input-label">Name</span>
        <input type="text" ng-model="merge.name" />
    </label>
    <label>
        <span class="input-label">Filename</span>
        <input type="text" ng-model="merge.filename" />
    </label>
    <label>
        <span class="input-label">Merge Method</span>
        <select ng-model="merge.method">
            <option value="Clamp">Merge down (standard)</option>
            <option value="Refactor" ng-if="experimental">Merge down (experimental)</option>
            <option value="Master" ng-if="experimental">Merge up (version control)</option>
        </select>
    </label>
</section>