<list-view class="scrollable" items="plugins" drag-type="mergePlugins" filters="loadOrderFilters">
    <input type="checkbox" ng-model="$parent.item.active" ng-change="itemToggled($parent.item)" ng-disabled="$parent.item.disabled" ng-show="!$parent.item.blacklisted" />
    <span ng-class="{'disabled': $parent.item.disabled, 'required' : $parent.item.required, 'warn' : $parent.item.warn}" title="{{$parent.item.title}}">
        <span ng-show="$parent.item.active || $parent.item.required">[{{$parent.item.index | hex:2 }}]</span>
        {{::$parent.item.filename}}
    </span>
</list-view>
